doctype html
html(lang='ko')
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    title 5.board_list
    meta(name='author', content='qnibus')
    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    meta(name='viewport', content='minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(http-equiv='cleartype', content='on')
    // Latest compiled and minified CSS
    link(type='text/css', href='/CSS/bootstrap.css', rel='stylesheet')
    link(type='text/css', href='/CSS/bootstrap-datetimepicker.css', rel='stylesheet')
    link(type='text/css', href='/CSS/bootstrap-datetimepicker-standalone.css', rel='stylesheet')
    link(type='text/css', href='/CSS/bootstrap-dialog.css', rel='stylesheet')
    link(type='text/css', href='/CSS/jquery-ui.css', rel='stylesheet')
    link(type='text/css', href='/CSS/style.css', rel='stylesheet')
    link(type='text/css', href='/CSS/non-responsive.css', rel='stylesheet')
    link(type='text/css', href='/CSS/flags.css', rel='stylesheet')
    link(type='text/css', href='/CSS/gd5-style.css', rel='stylesheet')
    link(type='text/css', href='/CSS/admin-custom.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
    script(type='text/javascript', src='/JS/underscore-min.js')
    script(type='text/javascript', src='/JS/jquery_003.js')
    script(type='text/javascript', src='/JS/jquery-ui.js')
    script(type='text/javascript', src='/JS/bootstrap.js')
    script(type='text/javascript', src='/JS/moment.js')
    script(type='text/javascript', src='/JS/numeral.js')
    script(type='text/javascript', src='/JS/bootstrap-datetimepicker.js')
    script(type='text/javascript', src='/JS/bootstrap-dialog.js')
    script(type='text/javascript', src='/JS/bootstrap-filestyle.js')
    script(type='text/javascript', src='/JS/ZeroClipboard.js')
    script(type='text/javascript', src='/JS/clipboard.js')
    script(type='text/javascript', src='/JS/jquery_004.js')
    script(type='text/javascript', src='/JS/jquery_007.js')
    script(type='text/javascript', src='/JS/jquery.js')
    script(type='text/javascript', src='/JS/messages_ko.js')
    script(type='text/javascript', src='/JS/additional-methods.js')
    script(type='text/javascript', src='/JS/jquery_005.js')
    script(type='text/javascript', src='/JS/jquery_006.js')
    script(type='text/javascript', src='/JS/common2.js')
    script(type='text/javascript', src='/JS/common.js')
    script(type='text/javascript', src='/JS/schedule.js')
    script(type='text/javascript', src='/JS/jquery_002.js')
    script(type='text/javascript', src='/JS/admin_panel_api.js')
    script(type='text/javascript', src='/JS/member.js')
    script(type='text/javascript', src='/JS/sms.js')
    script(type='text/javascript', src='/JS/admin-custom.js')
    script(type='text/javascript').
      <!--
      $(document).ready(function () {
      // 메뉴얼 링크
      $(".gd-help-manual").each(function() {
      var linkText = $(this).text().trim().replace(/\\s/g, ''); // 타이틀의 문자열의 공백을 제거함
      var manualUrl = 'http://manual.godomall5.godomall.com/data/manual_view.php?category=board__board___board_theme#' + linkText;
      $(this).append(' <a href="' + manualUrl + '" target="_blank" class="link-help">페이지 도움말</a>');
      });
      });
      //-->
  body.board.board-theme.layout-basic
    #container-wrap.container-fluid
      #container.row
        #header.col-xs-12
          nav.navbar
            .container
              .navbar-inner
                .navbar-header
                  a.navbar-brand(style='color:white;text-indent:0;', href='#') Inventory
                  span.pro
                .gnb
                  ul.list-inline
                    li.no-bar
                      .dropdown
                        // js-btn-layer-sub-menu
                        a#headerSubMenuManager.dropdown-toggle.gnb-idinfo(href='#', data-toggle='dropdown', aria-haspopup='false', aria-expanded='false')
                          span 유미나
                          | 님 (
                          span proad00
                          |                                     )
                        ul.dropdown-menu.gnb-dropdown-menu(aria-labelledby='headerSubMenuManager')
                          li.dropdown-item
                            a(href='#') 운영자정보
                          li.dropdown-item
                            a(href='#') 로그아웃
                    li.pos-r.no-bar
                      a.schedule-a(href='javascript:Schedule.addToday()')
                        img(src='IMG/icon_bell.png')
                        span.badge(style='position:absolute;left:12px;top:-6px;') 1
                    li.devide
                    li.no-bar
                      .form-inline.gnb-search
                        .gnb-search-head
                          select#headerSearchType.header-select(name='headerSearchType')
                            option(value='menu', selected='selected') 메뉴
                            option(value='member') 회원
                        .gnb-search-body
                          span.icon-magni
                            img(src='IMG/icon_magni.png', alt='')
                          input#headerSearchKeyword.form-control(name='headerSearchKeyword', placeholder='메뉴검색', type='text')
                          .gnb-search-hint.form-inline.display-none
                            select#headerSearchMenuList.form-control.multiple-select(size='5', style='height:100px;')
                      // <a href="#" class="js-btn-layer-search-member pdr0 ">회원검색</a>
                    // 스타일 안보임 처리 : 컨트롤러 제거는 하지 않음. 직접 URL 입력시 접속됨
                    // <li><a href="../bootstrap/index" style="color:yellow;" target="_blank">스타일</a></li>
              .collapse.navbar-collapse
                ul.nav.navbar-nav
                  li
                    a#menu_policy(href='#', style='width:105.90909090909px;') 기본설정
                  li
                    a#menu_goods(href='#', style='width:105.90909090909px;') 상품
                  li
                    a#menu_order(href='#', style='width:105.90909090909px;') 주문
                  li
                    a#menu_member(href='#', style='width:105.90909090909px;') 회원
                  li
                    a#menu_board.active(href='#', style='width:105.90909090909px;') 게시판
                  li
                    a#menu_promotion(href='#', style='width:105.90909090909px;') 통계
              // /.navbar-collapse
          script(type='text/javascript').
            $(document).ready(function () {
            var gd_main_layer = {
            presentation: {id: "presentation", selector: "#layerPresentation", title: "주요현황 조회설정"},
            order_presentation: {id: "orderPresentation", get_id: "getOrderPresentation", title: "주문현황 조회설정"},
            order_setting: {id: "orderSetting", title: "주문관리 조회설정"},
            favorite_menu: {id: "favoriteMenu", get_id: "getFavoriteMenu", selector: "#layerFavorite", title: "자주쓰는 메뉴 설정"}
            };
            var _bootstrap_dialog = BootstrapDialog;
            $('#dropDownFavoriteMenu').on('show.bs.dropdown', function () {
            var dropdown_container = $(this);
            var dropdown_menu = dropdown_container.find('.dropdown-menu');
            $.ajax('../base/main_setting_ps.php', {
            method: "post",
            data: {mode: gd_main_layer.favorite_menu.get_id},
            global_complete: false,
            success: function () {
            if (arguments[0].success === 'OK') {
            var result = arguments[0].result;
            if (result.length > 0) {
            var html = [];
            $.each(result, function (idx, item) {
            var menuName = 'none';
            var menuLink = '';
            if (typeof item.tName === 'string') {
            menuName = item.tName;
            } else if (typeof item.sName === 'string') {
            menuName = item.sName;
            } else if (typeof item.fName === 'string') {
            menuName = item.fName;
            }
            if (typeof item.tUrl === 'string') {
            menuLink = '/' + item.tUrl;
            } else if (typeof item.sUrl === 'string') {
            menuLink = '/' + item.sUrl;
            } else {
            menuLink = '/index.php';
            }
            if (typeof item.fCode === 'string') {
            menuLink = item.fCode + menuLink;
            }
            // html.push('<li role="separator" class="divider"></li>');
            html.push('<li class="dropdown-item"><a href="../' + menuLink + '">' + menuName + '</a></li>');
            });
            dropdown_menu.find('li:gt(0)').remove();
            dropdown_menu.append(html.join(''));
            } else {
            if (dropdown_menu.find('.dropdown-noitem').length == 0) {
            dropdown_menu.find('li:gt(0)').remove();
            dropdown_menu.append('<li class="dropdown-noitem">자주쓰는 메뉴를<br>설정해주세요.</li>');
            }
            }
            } else {
            console.log(arguments);
            }
            }
            });
            });
            $('#dropDownOrderPresentation').on('show.bs.dropdown', function () {
            var dropdown_container = $(this);
            $.ajax('../base/main_setting_ps.php', {
            method: "post",
            data: {mode: gd_main_layer.order_presentation.get_id},
            global_complete: false,
            success: function () {
            if (arguments[0].success === 'OK') {
            var result = arguments[0].result;
            if (result.length > 0) {
            var html = [];
            $.each(result, function (idx, item) {
            // html.push('<li role="separator" class="divider"></li>');
            html.push('<li class="dropdown-item"><a href="' + item.link + '">' + item.name + '<span class="dropdown-item-val"><span class="text-red">' + item.count + '</span>건</span></a></li>');
            });
            var dropdown_menu = dropdown_container.find('.dropdown-menu');
            dropdown_menu.find('li:gt(0)').remove();
            dropdown_menu.append(html.join(''));
            }
            } else {
            console.log(arguments);
            }
            }
            });
            });
            $('.js-setting-presentation').click(function () {
            $.post('/share/layer_presentation_setting.php', {mode: gd_main_layer.presentation.id}, function (data) {
            var options = {title: gd_main_layer.presentation.title, message: $(data), size: _bootstrap_dialog.SIZE_WIDE};
            _bootstrap_dialog.show(options);
            });
            });
            $('.js-setting-cs').bind('click', function () {
            $.post('/share/layer_cs_setting.php', null, function (data) {
            _bootstrap_dialog.show({
            title: '문의/답변관리 조회설정 ',
            message: $(data)
            });
            });
            });
            $('.js-setting-order').bind('click', function () {
            var layer_id = this.dataset.role;
            var title = (layer_id === gd_main_layer.order_presentation.id) ? gd_main_layer.order_presentation.title : gd_main_layer.order_setting.title;
            $.post('../base/layer_order_setting.php', {mode: layer_id}, function (data) {
            var options = {title: title, message: $(data)};
            _bootstrap_dialog.show(options);
            });
            });
            $('.js-setting-favorite-menu').bind('click', function () {
            $.post('/share/layer_favorite_menu.php', {mode: gd_main_layer.favorite_menu.id}, function (data) {
            var options = {title: gd_main_layer.favorite_menu.title, message: $(data), size: _bootstrap_dialog.SIZE_WIDE};
            _bootstrap_dialog.show(options);
            });
            });
            $('#headerSearchType').change(function () {
            if (this.value === 'member') {
            layer_member_search();
            document.getElementById('headerSearchType').options[0].selected = true;
            }
            });
            $('#headerSearchKeyword').keyup(function (e) {
            if (e.keyCode === 13 && this.value.length > 1) {
            $.ajax('../base/main_setting_ps.php', {
            method: "post",
            global_complete: false,
            data: {mode: "searchMenu", keyword: this.value},
            success: function () {
            var result = arguments[0].result;
            var optionHtml = [];
            $.each(result, function (idx, item) {
            var link = '../' + item.fCode + '/' + item.tUrl;
            optionHtml.push('<option value="' + link + '">' + item.tName + '</option>');
            });
            var $headerSearchMenuList = $('#headerSearchMenuList');
            $headerSearchMenuList.closest('div').removeClass('display-none');
            $headerSearchMenuList.find('option').remove();
            if (optionHtml.length == 0) {
            $headerSearchMenuList.append('<option>검색된 메뉴가 없습니다.</option>');
            } else {
            $headerSearchMenuList.append(optionHtml.join(''));
            }
            }
            });
            }
            });
            $('#headerSearchMenuList').on('click', function () {
            location.href = this.value;
            });
            $(window).click(function () {
            var $headerSearchMenuList = $('#headerSearchMenuList').closest('div');
            if ($headerSearchMenuList.hasClass('display-none') === false) {
            $headerSearchMenuList.addClass('display-none');
            }
            });
            });
        #content-wrap
          #menu
            // close/open
            .js-adminmenu-toggle
            // //close/open
            .menu-header.board
              h2 게시판
            .panel
              .panel-heading.menu-icon-minus 게시판 관리
              ul.list-group
                li.list-group-item
                  a(href='#') 게시판 리스트
                li.list-group-item
                  a(href='#') 게시판 등록
                li.list-group-item.active
                  a(href='#') 게시글 관리
                li.list-group-item
                  a(href='#') 게시판 스킨 관리
          #content.row
            .col-xs-12
              script.
                $(document).ready(function () {
                $('input[name=deviceType]').bind('click',function(event,isLoad){
                /*$('select[name=liveSkin] option[data-role="pc"]').hide();
                $('select[name=liveSkin] option[data-role="mobile"]').hide();
                if($(this).val() == 'pc'){
                $('select[name=liveSkin] option[data-role="pc"]').show();
                }
                else if($(this).val() == 'mobile'){
                $('select[name=liveSkin] option[data-role="mobile"]').show();
                }
                else {
                $('select[name=liveSkin] option[data-role="pc"]').show();
                $('select[name=liveSkin] option[data-role="mobile"]').show();
                }
                if(isLoad !== true) {
                $('select[name=liveSkin]').find("option:eq(0)").prop("selected", true);
                }*/
                if(isLoad !== true) {
                changeApplySkinList();
                $('select[name=liveSkin]').find("option:eq(0)").prop("selected", true);
                }
                })
                $('input[name=domainFl]').bind('click',function(event,isLoad){
                if(isLoad !== true) {
                changeApplySkinList();
                }
                });
                var changeApplySkinList = function(){
                var domainFl = $('input[name=domainFl]:checked').val();
                var deviceType = $('input[name=deviceType]:checked').val();
                if (domainFl != '') {
                $.ajax({
                method: 'post',
                url: 'board_theme_ps.php',
                data: {'mode': 'getApplySkinList', 'domainFl' : domainFl , 'deviceType' : deviceType },
                dataType: 'json'
                }).success(function (data) {
                console.log(data);
                $('select[name=liveSkin').empty().append($('<option>', {value: '', text: '=디자인 스킨 검색='}));
                for (var i = 0; i < data.list.length; i++) {
                $('select[name=liveSkin').append($('<option>', {value: data.list[i].skinValue, text: data.list[i].skinTitle}));
                }
                }).error(function (e) {
                console.log(e);
                alert(e);
                });
                }
                }
                $('input[name=deviceType]:checked').trigger('click',[true]);
                $('#frmList').validate({
                dialog: false,
                submitHandler: function (form) {
                form.target = 'ifrmProcess';
                dialog_confirm('선택한 스킨을 삭제하시겠습니까?\\n\r영구 삭제되어 복원 불가능합니다.', function (result) {
                if (result) {
                form.submit();
                }
                });
                },
                rules: {
                'sno[]': {
                required: true
                }
                },
                messages: {
                'sno[]': {
                required: '선택한 스킨이 없습니다.'
                },
                },
                });
                $('.js-row-delete').bind('click', function () {
                $(this).closest('tr').find('input[name="sno[]"]').prop('checked', true);
                $('#frmList').submit();
                })
                })
              .page-header.js-affix
                h3
                  | 게시판 스킨 관리
                  small
                input.btn.btn-red(type='button', onclick="location.href='./board_theme_register.php'", value='등록')
              .table-title.gd-help-manual 게시판 스킨 검색
              form#frmSearch.js-form-enter-submit(method='get')
                .search-detail-box
                  table.table.table-cols
                    colgroup
                      col.width-sm
                      col
                    tr
                      th 상점
                      td
                        label.radio-inline
                          input(type='radio', name='domainFl', value='kr', checked='')
                          span.flag.flag-16.flag-kr
                          |                             기준몰
                        label.radio-inline
                          input(type='radio', name='domainFl', value='us')
                          span.flag.flag-16.flag-us
                          |                             영문몰
                        label.radio-inline
                          input(type='radio', name='domainFl', value='cn')
                          span.flag.flag-16.flag-cn
                          |                             중문몰
                        label.radio-inline
                          input(type='radio', name='domainFl', value='jp')
                          span.flag.flag-16.flag-jp
                          |                             일문몰
                    tr
                      th 검색어
                      td
                        .form-inline
                          select#searchField.form-control(name='searchField')
                            option(value='themeId') 스킨코드
                            option(value='themeNm') 이름
                          input.form-control(type='text', name='keyword', value='')
                    tr
                      th 구분
                      td
                        label.radio-inline
                          input(type='radio', name='deviceType', value='all')
                          | 전체
                        label.radio-inline
                          input(type='radio', name='deviceType', value='pc', checked='')
                          | PC쇼핑몰
                        label.radio-inline
                          input(type='radio', name='deviceType', value='mobile')
                          | 모바일쇼핑몰
                    tr
                      th 적용 디자인 스킨
                      td
                        select(name='liveSkin')
                          option(value='') =디자인 스킨 검색=
                          option(data-role='pc', value='pc^|^story_g', selected='') PC : (story_g) -사용/작업중인 스킨
                    tr
                      th 유형
                      td
                        label.checkbox-inline
                          input(type='checkbox', name='boardKind[all]', value='y')
                          | 전체
                        label.checkbox-inline
                          input(type='checkbox', name='boardKind[default]', value='y')
                          | 일반형
                        label.checkbox-inline
                          input(type='checkbox', name='boardKind[gallery]', value='y')
                          | 갤러리형
                        label.checkbox-inline
                          input(type='checkbox', name='boardKind[event]', value='y')
                          | 이벤트형
                        label.checkbox-inline
                          input(type='checkbox', name='boardKind[qa]', value='y')
                          | 1:1문의형
                  .table-btn
                    input.btn.btn-lg.btn-black(type='submit', value='검색')
              form#frmList(action='board_theme_ps.php', name='frmList', method='post')
                input(type='hidden', name='mode', value='theme_delete')
                .table-header
                  .pull-left
                    | 총
                    strong 10
                    | 개, 검색
                    strong 10
                    | 개,
                    strong 1
                    |             of 1 Pages
                table.table.table-rows
                  thead
                    tr
                      th.width5p
                        input.js-checkall(type='checkbox', data-target-name='sno')
                      th.width5p 번호
                      th.width10p 구분
                      th.width10p 적용 디자인스킨
                      th 스킨코드
                      th 스킨명
                      th 적용개수
                      th 정렬
                      th 넓이
                      th 등록일
                      th.width5p 수정
                      th.width5p 삭제
                  tbody
                    tr(align='center')
                      td
                        input(name='sno[]', type='checkbox', value='90')
                      td 10
                      td
                        | PC쇼핑몰
                      td
                        | story_g
                      td
                        a(href='./board_theme_register.php?sno=90') test_test
                      td
                        a(href='./board_theme_register.php?sno=90') test_test
                      td
                        span.font-num 0
                        |                         개
                      td 가운데정렬
                      td 100%
                      td 2017-08-03
                      td
                        a.btn.btn-white.btn-sm(href='./board_theme_register.php?sno=90') 수정
                      td
                        input.btn.btn-white.btn-sm.js-row-delete(type='button', value='삭제')
                    tr(align='center')
                      td
                        input(name='sno[]', type='checkbox', value='89')
                      td 9
                      td
                        | PC쇼핑몰
                      td
                        | story_g
                      td
                        a(href='./board_theme_register.php?sno=89') aaaaaa
                      td
                        a(href='./board_theme_register.php?sno=89') ㅁㅁㅁㅁㅁ
                      td
                        span.font-num 0
                        |                         개
                      td 가운데정렬
                      td 100%
                      td 2017-08-03
                      td
                        a.btn.btn-white.btn-sm(href='./board_theme_register.php?sno=89') 수정
                      td
                        input.btn.btn-white.btn-sm.js-row-delete(type='button', value='삭제')
                    tr(align='center')
                      td
                        input(name='sno[]', type='checkbox', value='33', disabled='')
                      td 8
                      td
                        | PC쇼핑몰
                      td
                        | story_g
                      td
                        a(href='./board_theme_register.php?sno=33') default
                      td
                        a(href='./board_theme_register.php?sno=33') 일반형(기본)
                      td
                        span.font-num 2
                        |                         개
                      td 가운데정렬
                      td 100%
                      td 2017-07-11
                      td
                        a.btn.btn-white.btn-sm(href='./board_theme_register.php?sno=33') 수정
                      td
                    tr(align='center')
                      td
                        input(name='sno[]', type='checkbox', value='34', disabled='')
                      td 7
                      td
                        | PC쇼핑몰
                      td
                        | story_g
                      td
                        a(href='./board_theme_register.php?sno=34') qa
                      td
                        a(href='./board_theme_register.php?sno=34') 1:1문의(기본)
                      td
                        span.font-num 4
                        |                         개
                      td 가운데정렬
                      td 100%
                      td 2017-07-11
                      td
                        a.btn.btn-white.btn-sm(href='./board_theme_register.php?sno=34') 수정
                      td
                    tr(align='center')
                      td
                        input(name='sno[]', type='checkbox', value='35', disabled='')
                      td 6
                      td
                        | PC쇼핑몰
                      td
                        | story_g
                      td
                        a(href='./board_theme_register.php?sno=35') event
                      td
                        a(href='./board_theme_register.php?sno=35') 이벤트(기본)
                      td
                        span.font-num 1
                        |                         개
                      td 가운데정렬
                      td 100%
                      td 2017-07-11
                      td
                        a.btn.btn-white.btn-sm(href='./board_theme_register.php?sno=35') 수정
                      td
                    tr(align='center')
                      td
                        input(name='sno[]', type='checkbox', value='36', disabled='')
                      td 5
                      td
                        | PC쇼핑몰
                      td
                        | story_g
                      td
                        a(href='./board_theme_register.php?sno=36') gallery
                      td
                        a(href='./board_theme_register.php?sno=36') 갤러리(기본)
                      td
                        span.font-num 2
                        |                         개
                      td 가운데정렬
                      td 100%
                      td 2017-07-11
                      td
                        a.btn.btn-white.btn-sm(href='./board_theme_register.php?sno=36') 수정
                      td
                    tr(align='center')
                      td
                        input(name='sno[]', type='checkbox', value='37', disabled='')
                      td 4
                      td
                        | 모바일쇼핑몰
                      td
                        | story_g
                      td
                        a(href='./board_theme_register.php?sno=37') default
                      td
                        a(href='./board_theme_register.php?sno=37') 일반형(기본)
                      td
                        span.font-num 2
                        |                         개
                      td -
                      td -
                      td 2017-07-11
                      td
                        a.btn.btn-white.btn-sm(href='./board_theme_register.php?sno=37') 수정
                      td
                    tr(align='center')
                      td
                        input(name='sno[]', type='checkbox', value='38', disabled='')
                      td 3
                      td
                        | 모바일쇼핑몰
                      td
                        | story_g
                      td
                        a(href='./board_theme_register.php?sno=38') qa
                      td
                        a(href='./board_theme_register.php?sno=38') 1:1문의(기본)
                      td
                        span.font-num 4
                        |                         개
                      td -
                      td -
                      td 2017-07-11
                      td
                        a.btn.btn-white.btn-sm(href='./board_theme_register.php?sno=38') 수정
                      td
                    tr(align='center')
                      td
                        input(name='sno[]', type='checkbox', value='39', disabled='')
                      td 2
                      td
                        | 모바일쇼핑몰
                      td
                        | story_g
                      td
                        a(href='./board_theme_register.php?sno=39') event
                      td
                        a(href='./board_theme_register.php?sno=39') 이벤트(기본)
                      td
                        span.font-num 1
                        |                         개
                      td -
                      td -
                      td 2017-07-11
                      td
                        a.btn.btn-white.btn-sm(href='./board_theme_register.php?sno=39') 수정
                      td
                    tr(align='center')
                      td
                        input(name='sno[]', type='checkbox', value='40', disabled='')
                      td 1
                      td
                        | 모바일쇼핑몰
                      td
                        | story_g
                      td
                        a(href='./board_theme_register.php?sno=40') gallery
                      td
                        a(href='./board_theme_register.php?sno=40') 갤러리(기본)
                      td
                        span.font-num 2
                        |                         개
                      td -
                      td -
                      td 2017-07-11
                      td
                        a.btn.btn-white.btn-sm(href='./board_theme_register.php?sno=40') 수정
                      td
                .table-action
                  .pull-left.form-inline
                    span.action-title 선택한 스킨
                    button.btn.btn-white(type='submit')
                      | 삭제
                .center
                  nav
                    ul.pagination.pagination-sm
                      li.active
                        span 1
        script(type='text/javascript').
          <!--
          $(document).ready(function () {
          $.ajax('../base/main_setting_ps.php', {
          method: "post",
          data: {mode: 'orderPresentationNew'},
          global_complete: false,
          beforeSend: function () {
          $('.js-oder-count-new').addClass('display-none')
          },
          success: function () {
          if (arguments[0].success === 'OK') {
          var result = arguments[0].result;
          if (result === true) {
          $('.js-oder-count-new').removeClass('display-none');
          }
          }
          }
          });
          });
          //-->
    #panel_popupPanel
    #gnbTopAnchor
      a(href='#top')
        img(src='IMG/btn_gnb_top.png')
    iframe.display-none(name='ifrmProcess', src='./blank.html', width='100%', height='200')
    script(type='text/javascript').
      adminPanelApiAjax('board', 'board', 'board_theme');
      $(function(){
      // 탑버튼 클릭
      $(document).on("click", "a[href=#top]", function(e) {
      $('html body').animate({scrollTop: 0}, 'fast');
      });
      // 스크롤 최하단시 탑아이콘 출력 (실제 컨텐츠 $('#content > .col-xs-12').height())
      $(window).scroll(function() {
      if ($(window).height() < $(document).height()) {
      if ($(window).scrollTop() >= 1) {
      $("#gnbTopAnchor").slideDown(150);
      } else {
      $("#gnbTopAnchor").slideUp(100);
      }
      }
      });
      });
