<!DOCTYPE html>
<html lang="ko"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>4.mail_send</title>
    <meta name="author" content="qnibus">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="cleartype" content="on">

    <!-- Latest compiled and minified CSS -->
    <link type="text/css" href="CSS/bootstrap.css" rel="stylesheet">
  <link type="text/css" href="CSS/bootstrap-datetimepicker.css" rel="stylesheet">
  <link type="text/css" href="CSS/bootstrap-datetimepicker-standalone.css" rel="stylesheet">
  <link type="text/css" href="CSS/bootstrap-dialog.css" rel="stylesheet">
  <link type="text/css" href="CSS/jquery-ui.css" rel="stylesheet">
  <link type="text/css" href="CSS/style.css" rel="stylesheet">
  <link type="text/css" href="CSS/non-responsive.css" rel="stylesheet">
  <link type="text/css" href="CSS/flags.css" rel="stylesheet">
      <link type="text/css" href="CSS/gd5-style.css" rel="stylesheet">
  <link type="text/css" href="CSS/admin-custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="JS/underscore-min.js"></script>
    <script type="text/javascript" src="JS/jquery_003.js"></script>
    <script type="text/javascript" src="JS/jquery-ui.js"></script>
    <script type="text/javascript" src="JS/bootstrap.js"></script>
    <script type="text/javascript" src="JS/moment.js"></script>
    <script type="text/javascript" src="JS/numeral.js"></script>
    <script type="text/javascript" src="JS/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="JS/bootstrap-dialog.js"></script>
    <script type="text/javascript" src="JS/bootstrap-filestyle.js"></script>
    <script type="text/javascript" src="JS/ZeroClipboard.js"></script>
    <script type="text/javascript" src="JS/clipboard.js"></script>
    <script type="text/javascript" src="JS/jquery_004.js"></script>
    <script type="text/javascript" src="JS/jquery_007.js"></script>
    <script type="text/javascript" src="JS/jquery.js"></script>
    <script type="text/javascript" src="JS/messages_ko.js"></script>
    <script type="text/javascript" src="JS/additional-methods.js"></script>
    <script type="text/javascript" src="JS/jquery_005.js"></script>
    <script type="text/javascript" src="JS/jquery_006.js"></script>
    <script type="text/javascript" src="JS/common2.js"></script>
    <script type="text/javascript" src="JS/common.js"></script>
    <script type="text/javascript" src="JS/schedule.js"></script>
    <script type="text/javascript" src="JS/jquery_002.js"></script>
    <script type="text/javascript" src="JS/admin_panel_api.js"></script>
                <script type="text/javascript" src="JS/member.js"></script>
                        <script type="text/javascript" src="JS/sms.js"></script>
                <script type="text/javascript" src="JS/admin-custom.js"></script>

    <script type="text/javascript">
        <!--
        $(document).ready(function () {
            
            // 메뉴얼 링크
            $(".gd-help-manual").each(function() {
                var linkText = $(this).text().trim().replace(/\s/g, ''); // 타이틀의 문자열의 공백을 제거함
                var manualUrl = 'http://manual.godomall5.godomall.com/data/manual_view.php?category=member__mail___mail_send#' + linkText;
                $(this).append(' <a href="' + manualUrl + '" target="_blank" class="link-help">페이지 도움말</a>');
            });
            
            
            // 툴팁 데이터
            var tooltipData = [{"title":"개별\/전체메일발송","attribute":"제목","content":"영리목적의 광고성 정보 발송 시 제목 첫머리에 (광고)표시","cntWidth":""},{"title":"개별\/전체메일발송","attribute":"수신동의문구","content":"본문에 수신동의문구내용 미포함 시 수신동의 필수 체크","cntWidth":""},{"title":"개별\/전체메일발송","attribute":"수신거부","content":"본문에 수신거부기능 및 문구 미포함 시 수신거부 필수 체크","cntWidth":""}];
            var sectionEle = null;
            $('#content .table.table-cols th').each(function(idx){
                if ($(this).closest('table').siblings('.table-title').length) {
                    sectionEle = $(this).closest('table').prevAll('.table-title:first');
                } else if ($(this).closest('table').parent('div').siblings('.table-title').length) {
                    sectionEle = $(this).closest('table').parent('div').prevAll('.table-title:first');
                } else {
                    sectionEle = $(this).closest('table').parent('div').parent('div').prevAll('.table-title:first');
                }
                if (typeof sectionEle[0] !== "undefined") {
                    var sectionTitle = $(sectionEle[0]).html().replace(/\(?<\/?[^*]+>/gi, '').trim().replace(/ /gi, '').replace(/\n/gi, '');
                    var titleName = $(this).text().trim().replace(/ /gi, '').replace(/\n/gi, '');
                    for (var i in tooltipData) {
                        if (tooltipData[i].title == sectionTitle) {
                            if (tooltipData[i].attribute == titleName) {
                                $(this).append('<button type="button" class="btn btn-xs js-tooltip" title="' + tooltipData[i].content + '" data-placement="right" data-width="' + tooltipData[i].cntWidth + '"><span class="icon-tooltip"></span></button>');
                            }
                        }
                    }
                }
            });

            if ($('.js-tooltip').length > 0) {
                // 툴팁 초기화
                $(document).on({
                    'click': function() {
                        if ($(this).attr('aria-describedby')) {
                            $(this).tooltip('destroy');
                        } else {
                            var option = {
                                trigger: 'click',
                                container: '#content',
                                html: true,
                                template: '<div class="tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div><button class="tooltip-close">close</button></div>',
                            };
                            $(this).on('shown.bs.tooltip', function () {
                                $(".tooltip.in").css({
                                    width: $(this).data('width'),
                                    maxWidth: "none",
                                });
                            });
                            $(this).tooltip(option).tooltip('show');
                        }
                    }
                }, '.js-tooltip');
                $(document).on('click', '.tooltip.in .tooltip-close', function () {
                    $('.js-tooltip[aria-describedby=' + $(this).parent().attr('id') + ']').trigger('click');
                });
            }
                    });
        //-->
    </script>

</head>
<body class="member mail-send layout-basic">

<div id="container-wrap" class="container-fluid">
        <div id="container" class="row">
            <div id="header" class="col-xs-12">
                <nav class="navbar">
        <div class="container">
            <div class="navbar-inner">

                <div class="navbar-header">
                    <a class="navbar-brand" style="color:white;text-indent:0;" href="#">Inventory</a>
                    <span class="pro"></span>

                </div>

                <div class="gnb">
                    <ul class="list-inline">
                        <li class="no-bar">
                            <div class="dropdown">
                                <!--js-btn-layer-sub-menu-->
                                <a href="#" class="dropdown-toggle gnb-idinfo" id="headerSubMenuManager" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                    <span>유미나</span>님 (
                                    <span>proad00</span>
                                    ) </a>
                                <ul class="dropdown-menu gnb-dropdown-menu" aria-labelledby="headerSubMenuManager">
                                    <li class="dropdown-item"><a href="#">운영자정보</a></li>
                                    <li class="dropdown-item"><a href="#">로그아웃</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="pos-r no-bar">
                            <a href="javascript:Schedule.addToday()" class="schedule-a"> <img src="IMG/icon_bell.png">
                                                                <span class="badge" style="position:absolute;left:12px;top:-6px;">1</span>
                                                        </a>
                        </li>
                                                           <li class="devide"></li>


                       <li class="no-bar">
                            <div class="form-inline gnb-search">
                                <div class="gnb-search-head">
                                        <select id="headerSearchType" name="headerSearchType" class="header-select">
                                            <option value="menu" selected="selected">메뉴</option>
                                            <option value="member">회원</option>
                                        </select>
                                                                </div>
                                <div class="gnb-search-body">
                                    <span class="icon-magni"><img src="IMG/icon_magni.png" alt=""></span>
                                    <input id="headerSearchKeyword" class="form-control" name="headerSearchKeyword" placeholder="메뉴검색" type="text">
                                    <div class="gnb-search-hint form-inline display-none">
                                        <select class="form-control multiple-select" size="5" id="headerSearchMenuList" style="height:100px;"></select>
                                    </div>
                                </div>
                            </div>
                            <!--<a href="#" class="js-btn-layer-search-member pdr0 ">회원검색</a>-->
                        </li>
                        <!-- 스타일 안보임 처리 : 컨트롤러 제거는 하지 않음. 직접 URL 입력시 접속됨 -->
                        <!-- <li><a href="../bootstrap/index" style="color:yellow;" target="_blank">스타일</a></li>-->
                    </ul>
                </div>

            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                                                <li>
                                    <a href="#" id="menu_policy" style="width:105.90909090909px;">기본설정</a>
                                </li>
                                                            <li class="">
                                    <a href="#" id="menu_goods" style="width:105.90909090909px;">상품</a>
                                </li>
                                                            <li class="">
                                    <a href="#" id="menu_order" style="width:105.90909090909px;">주문</a>
                                </li>
                                                            <li class="">
                                    <a class="active" href="#" id="menu_member" style="width:105.90909090909px;">회원</a>
                                </li>
                                                            <li class="">
                                    <a href="#" id="menu_board" style="width:105.90909090909px;">게시판</a>
                                </li>
                                                            <li class="">
                                    <a href="#" id="menu_promotion" style="width:105.90909090909px;">통계</a>
                                </li>
                                            </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>


<script type="text/javascript">
    $(document).ready(function () {
        var gd_main_layer = {
            presentation: {id: "presentation", selector: "#layerPresentation", title: "주요현황 조회설정"},
            order_presentation: {id: "orderPresentation", get_id: "getOrderPresentation", title: "주문현황 조회설정"},
            order_setting: {id: "orderSetting", title: "주문관리 조회설정"},
            favorite_menu: {id: "favoriteMenu", get_id: "getFavoriteMenu", selector: "#layerFavorite", title: "자주쓰는 메뉴 설정"}
        };
        var _bootstrap_dialog = BootstrapDialog;

        $('#dropDownFavoriteMenu').on('show.bs.dropdown', function () {
            var dropdown_container = $(this);
            var dropdown_menu = dropdown_container.find('.dropdown-menu');
            $.ajax('../base/main_setting_ps.php', {
                method: "post",
                data: {mode: gd_main_layer.favorite_menu.get_id},
                global_complete: false,
                success: function () {
                    if (arguments[0].success === 'OK') {
                        var result = arguments[0].result;
                        if (result.length > 0) {
                            var html = [];
                            $.each(result, function (idx, item) {
                                var menuName = 'none';
                                var menuLink = '';
                                if (typeof item.tName === 'string') {
                                    menuName = item.tName;
                                } else if (typeof item.sName === 'string') {
                                    menuName = item.sName;
                                } else if (typeof item.fName === 'string') {
                                    menuName = item.fName;
                                }
                                if (typeof item.tUrl === 'string') {
                                    menuLink = '/' + item.tUrl;
                                } else if (typeof item.sUrl === 'string') {
                                    menuLink = '/' + item.sUrl;
                                } else {
                                    menuLink = '/index.php';
                                }
                                if (typeof item.fCode === 'string') {
                                    menuLink = item.fCode + menuLink;
                                }
                                // html.push('<li role="separator" class="divider"></li>');
                                html.push('<li class="dropdown-item"><a href="../' + menuLink + '">' + menuName + '</a></li>');
                            });
                            dropdown_menu.find('li:gt(0)').remove();
                            dropdown_menu.append(html.join(''));
                        } else {
                            if (dropdown_menu.find('.dropdown-noitem').length == 0) {
                                dropdown_menu.find('li:gt(0)').remove();
                                dropdown_menu.append('<li class="dropdown-noitem">자주쓰는 메뉴를<br>설정해주세요.</li>');
                            }
                        }
                    } else {
                        console.log(arguments);
                    }
                }
            });
        });

        $('#dropDownOrderPresentation').on('show.bs.dropdown', function () {
            var dropdown_container = $(this);
            $.ajax('../base/main_setting_ps.php', {
                method: "post",
                data: {mode: gd_main_layer.order_presentation.get_id},
                global_complete: false,
                success: function () {
                    if (arguments[0].success === 'OK') {
                        var result = arguments[0].result;
                        if (result.length > 0) {
                            var html = [];
                            $.each(result, function (idx, item) {
                                // html.push('<li role="separator" class="divider"></li>');
                                html.push('<li class="dropdown-item"><a href="' + item.link + '">' + item.name + '<span class="dropdown-item-val"><span class="text-red">' + item.count + '</span>건</span></a></li>');
                            });
                            var dropdown_menu = dropdown_container.find('.dropdown-menu');
                            dropdown_menu.find('li:gt(0)').remove();
                            dropdown_menu.append(html.join(''));
                        }
                    } else {
                        console.log(arguments);
                    }
                }
            });
        });

        $('.js-setting-presentation').click(function () {
            $.post('/share/layer_presentation_setting.php', {mode: gd_main_layer.presentation.id}, function (data) {
                var options = {title: gd_main_layer.presentation.title, message: $(data), size: _bootstrap_dialog.SIZE_WIDE};
                _bootstrap_dialog.show(options);
            });
        });

        $('.js-setting-cs').bind('click', function () {
            $.post('/share/layer_cs_setting.php', null, function (data) {
                _bootstrap_dialog.show({
                    title: '문의/답변관리 조회설정 ',
                    message: $(data)
                });
            });
        });

        $('.js-setting-order').bind('click', function () {
            var layer_id = this.dataset.role;
            var title = (layer_id === gd_main_layer.order_presentation.id) ? gd_main_layer.order_presentation.title : gd_main_layer.order_setting.title;
            $.post('../base/layer_order_setting.php', {mode: layer_id}, function (data) {
                var options = {title: title, message: $(data)};
                _bootstrap_dialog.show(options);
            });
        });

        $('.js-setting-favorite-menu').bind('click', function () {
            $.post('/share/layer_favorite_menu.php', {mode: gd_main_layer.favorite_menu.id}, function (data) {
                var options = {title: gd_main_layer.favorite_menu.title, message: $(data), size: _bootstrap_dialog.SIZE_WIDE};
                _bootstrap_dialog.show(options);
            });
        });

        $('#headerSearchType').change(function () {
            if (this.value === 'member') {
                layer_member_search();
                document.getElementById('headerSearchType').options[0].selected = true;
            }
        });

        $('#headerSearchKeyword').keyup(function (e) {
            if (e.keyCode === 13 && this.value.length > 1) {
                $.ajax('../base/main_setting_ps.php', {
                    method: "post",
                    global_complete: false,
                    data: {mode: "searchMenu", keyword: this.value},
                    success: function () {
                        var result = arguments[0].result;
                        var optionHtml = [];
                        $.each(result, function (idx, item) {
                            var link = '../' + item.fCode + '/' + item.tUrl;
                            optionHtml.push('<option value="' + link + '">' + item.tName + '</option>');
                        });
                        var $headerSearchMenuList = $('#headerSearchMenuList');
                        $headerSearchMenuList.closest('div').removeClass('display-none');
                        $headerSearchMenuList.find('option').remove();
                        if (optionHtml.length == 0) {
                            $headerSearchMenuList.append('<option>검색된 메뉴가 없습니다.</option>');
                        } else {
                            $headerSearchMenuList.append(optionHtml.join(''));
                        }
                    }
                });
            }
        });

        $('#headerSearchMenuList').on('click', function () {
            location.href = this.value;
        });

        $(window).click(function () {
            var $headerSearchMenuList = $('#headerSearchMenuList').closest('div');
            if ($headerSearchMenuList.hasClass('display-none') === false) {
                $headerSearchMenuList.addClass('display-none');
            }
        });
    });
</script>
        </div>

        <div id="content-wrap">
            <div id="menu">
                <!-- close/open -->
<div class="js-adminmenu-toggle"></div>
<!-- //close/open -->

<div class="menu-header member">
    <h2>회원</h2>
</div>
<div class="panel">
                    <div class="panel-heading menu-icon-minus">주문관리</div>
                <ul class="list-group">                <li class="list-group-item">
                    <a href="#">회원 리스트</a>                 </li>
                               <li class="list-group-item ">
                    <a href="#">회원 탈퇴/ 삭제 관리</a>                 </li>
                               <li class="list-group-item ">
                    <a href="#">회원 메세지 내역</a>                 </li>
                                <li class="list-group-item ">
                    <a href="#">메세지 금칙어 관리</a>                 </li>
                </ul>
                <div class="panel-heading menu-icon-minus">메일/메세지 관리</div>
                <ul class="list-group">                <li class="list-group-item active">
                    <a href="#">개별/전체 메일 발송</a>                 </li>
                    <li class="list-group-item">
                    <a href="#">자동 메일 설정</a>                 </li>
                    <li class="list-group-item ">
                    <a href="#">메일 발송 내역 보기</a>                 </li>
                    <li class="list-group-item">
                    <a href="#">개별/전체 메세지 발송</a>                 </li>
                    <li class="list-group-item">
                    <a href="#">메세지 발송 내역 보기</a>                 </li>
                    
                </ul>
                </div>
            </div>
            <div id="content" class="row">
                <div class="col-xs-12">
                    <form id="formSendMail" action="../member/mail_ps.php" method="post" novalidate="novalidate">
    <div class="page-header js-affix affix-top" style="width: 1632px;">
        <h3>개별/전체 메일 발송</h3>
        <input value="메일발송" class="btn btn-red" type="submit">
    </div>
    <div class="table-title gd-help-manual">개별/전체메일발송 <a href="http://manual.godomall5.godomall.com/data/manual_view.php?category=member__mail___mail_send#%EA%B0%9C%EB%B3%84/%EC%A0%84%EC%B2%B4%EB%A9%94%EC%9D%BC%EB%B0%9C%EC%86%A1" target="_blank" class="link-help">페이지 도움말</a></div>
    <table class="table table-cols member-mail-send">
        <colgroup>
            <col class="width-md">
            <col>
        </colgroup>
        <tbody><tr>
            <th>무료메일 잔여건수</th>
            <td>3,000건</td>
        </tr>
        <tr>
            <th class="require">제목<button type="button" class="btn btn-xs js-tooltip" title="영리목적의 광고성 정보 발송 시 제목 첫머리에 (광고)표시" data-placement="right" data-width=""><span class="icon-tooltip"></span></button></th>
            <td>
                <input name="subject" id="subject" class="width100p form-control" title="" required="required" aria-required="true" type="text">

                <div class="notice-info">* 정보통신망법에 따라 영리목적의 광고성 정보 발송 시 사전 수신동의한 회원을 대상으로 해야 하며,제목에 (광고)를 표시해야 합니다.
                </div>
            </td>
        </tr>
        <tr>
            <th class="require">발송자이메일</th>
            <td>
                <input name="senderEmail" id="senderEmail" class="width-2xl form-control" value="daalllinmall@naver.com" title="" required="required" aria-required="true" type="text">
            </td>
        </tr>
        <tr>
            <th class="require">대상회원 선택</th>
            <td id="selectTarget">
                <div class="radio">
                    <label for="selectMemberFl" class="radio-inline">
                        <input name="selectTargetFl" id="selectMemberFl" class="" checked="checked" value="manual" type="radio">
                        회원직접선택
                    </label>
                                            <input value="선택하기" class="btn btn-sm btn-gray" id="btnSearchMember" type="button">
                        <span class="display-none search-count" id="divSearchCount">
                            <a href="#" id="linkSearchMember">
                                <span id="receiveTotal" class="js-receive-total"></span>
                                명
                                <span class="text-red">(수신거부 대상자 </span>
                                <span id="rejectCount" class="text-red js-reject-count"></span>
                                <span class="text-red">명 포함)</span>
                            </a>
                        </span>
                                        </div>
                <div class="radio mgt15">
                    <div class="form-inline">
                        <label for="selectGroupFl" class="radio-inline">
                            <input name="selectTargetFl" id="selectGroupFl" class="" value="group" type="radio">
                            회원등급선택
                        </label>
                        <select class="form-control " id="groupSno" name="groupSno" disabled="disabled"><option value="" selected="selected">회원등급선택</option><option value="1">일반회원</option><option value="2">STEP_1</option><option value="3">STEP_2</option><option value="5">A_manager</option></select></div>
                    <div class="checkbox">
                        <label for="sendAgreeGroupFl1">
                            &nbsp;&nbsp;&nbsp;
                            <input name="sendAgreeGroupFl" id="sendAgreeGroupFl1" disabled="disabled" value="y" type="checkbox">
                            수신동의한 회원에게만 발송
                        </label>
                    </div>
                </div>
                <div class="radio mgt15">
                    <label for="selectAllFl" class="radio-inline all-member">
                        <input name="selectTargetFl" id="selectAllFl" class="" value="all" type="radio">
                        전체회원
                    </label>
                    <div class="checkbox">
                        <label for="sendAgreeAllFl1">
                            &nbsp;&nbsp;&nbsp;
                            <input name="sendAgreeAllFl" id="sendAgreeAllFl1" class="" disabled="disabled" value="y" type="checkbox">
                            수신동의한 회원에게만 발송
                        </label>
                    </div>
                </div>
                <span class="notice-info">* 정보통신망법에 따라 수신거부한 회원에게는 광고성정보를 발송할 수 없으며, 위반 시 과태료가 부과됩니다.</span>
            </td>
        </tr>
        <tr>
            <th class="require">내용</th>
            <td><textarea name="contents" rows="26" style="height: 400px; display: none;" id="editor" class=" width100p" type="editor"></textarea><iframe scrolling="no" style="width: 100%; height: 449px;" src="smart/SmartEditor2Skin.html" frameborder="0"></iframe>
            </td>
        </tr>
        <tr>
            <th>수신동의</th>
            <td>
                <div class="checkbox">
                    <label for="agreeReceiveWordsFl" class="checkbox-inline">
                        <input value="y" id="agreeReceiveWordsFl" name="agreeReceiveWordsFl" checked="checked" type="checkbox">
                        수신동의문구를 메일에 포함합니다.
                    </label>
                </div>
                <div>
                        <textarea name="agreeReceiveWords" id="agreeReceiveWords" rows="3" class=" width100p">본 메일은 2017년 09월 02일 기준, 메일 수신에 동의하신 회원님께 발송한 메일입니다.
                        </textarea>
                </div>
            </td>
        </tr>
        <tr>
            <th>수신거부<button type="button" class="btn btn-xs js-tooltip" title="본문에 수신거부기능 및 문구 미포함 시 수신거부 필수 체크" data-placement="right" data-width=""><span class="icon-tooltip"></span></button></th>
            <td>
                <div class="checkbox">
                    <label for="rejectReceiveWordsFl" class="checkbox-inline">
                        <input value="y" id="rejectReceiveWordsFl" name="rejectReceiveWordsFl" checked="checked" type="checkbox">
                        수신거부기능 및 문구를 메일에 포함합니다
                    </label>
                </div>
                <div>
                        <textarea name="rejectReceiveWords" id="rejectReceiveWords" rows="4" class=" width100p" disabled="disabled">※ [메일내용]에 자체 수신거부기능을 넣으신 경우, 체크해제를 하면 됩니다.
- 이메일의 수신을 원하지 않으시면 [수신거부]를 클릭해 주세요.
- If you don’t want to receive this mail, click here.
                        </textarea>
                </div>
            </td>
        </tr>
    </tbody></table>
</form>
<div class="display-none" id="divMaillingList"></div>
<script type="text/javascript" src="JS/HuskyEZCreator.js" charset="utf-8"></script>
<script type="text/javascript" src="JS/editorLoad.js" charset="utf-8"></script>
<script type="text/javascript">
    <!--
    $(document).ready(function () {
        var $formSendMail = $('#formSendMail');

        /**
         * 폼 검증
         */
        $formSendMail.validate({
            ignore: [],
            rules: {
                subject: "required",
                senderEmail: "email",
                contents: {
                    required: function (textarea) {
                        var editorcontent = oEditors.getById[textarea.id].getIR();	// 에디터의 내용 가져오기.
                        editorcontent = editorcontent.replace(/<img[^>]*>/gi, '이미지').replace(/<[^>]*>/gi, '').replace('&nbsp;', '');
                        return editorcontent.length === 0;
                    }
                }
            }, messages: {
                subject: "제목을 입력해주세요.",
                senderEmail: "메일 주소를 입력해주세요.",
                contents: "내용을 입력해주세요."
            }, submitHandler: function (form) {
                oEditors.getById["editor"].exec("UPDATE_CONTENTS_FIELD", []);	// 에디터의 내용이 textarea에 적용됩니다.
                var data = $(form).serializeArray();
                data.push({name: "mode", value: "mailSend"});
                data.push({name: "sendType", value: "manual"});
                var recvList = [null];
                if (_.isNull(recvList[0])) {
                    recvList.shift();
                }
                var $tbody = $('tbody tr', '#divMaillingList');
                if ($('#selectMemberFl').prop('checked')) {
                    if ($tbody.length < 1 && recvList.length < 1) {
                        alert('선택된 회원이 없습니다.');
                        return false;
                    }
                }

                $.each($tbody.clone(), function (idx, item) {
                    var $item = $(item);
                    $item.find('.snote').remove();
                    $item.find('td:eq(5) .notice-ref').remove();
                    var receiver = {
                        memNo: $item.find(':checkbox').val(),
                        memNm: $item.find('td:eq(3)').text(),
                        memId: $item.find('td:eq(2) span.eng').text(),
                        email: $.trim($item.find('td:eq(5)').text())
                    };
                    if (_.isNull(receiver) === false) {
                        recvList.push(receiver);
                    }
                });
                data.push({name: "rcverList", value: JSON.stringify(recvList)});
                post_with_reload("../member/mail_ps.php", data);
            }
        });

        // 대상선택 라디오버튼 클릭
        $('input[name="selectTargetFl"]').click(function (e) {
            $('#groupSno').rules('remove');
            var radio = $('.radio');
            var obj = this;
            radio.each(function (index, item) {
                if ($(item).has(obj).length > 0) {
                    $(item).find('input[type="button"], :checkbox, select').prop({
                        disabled: false
                    });
                } else {
                    $(item).find('#divSearchCount').remove();
                    $(item).find('select option:first').prop("selected", true);
                    $(item).find('input[type="button"], :checkbox, select').prop({
                        disabled: true,
                        checked: false
                    });
                }
            });

            // 대상선택-회원등급선택
            if (e.target.id === 'selectGroupFl') {
                $('#sendAgreeGroupFl1').prop('checked', true);
                $('#groupSno').rules('add', {
                    required: true,
                    messages: {
                        required: "회원등급을 선택해 주세요."
                    }
                });
            }

            // 대상선택-전체회원
            if (e.target.id === 'selectAllFl') {
                $('#sendAgreeAllFl1').prop('checked', true);
                var params = [];
                params.push({name: "mode", value: "mailingAgreeCount"});
                ajax_with_layer('../member/member_ps.php', params, function (data, textStatus, jqXHR) {
                    $(obj).closest('label').after(appendCount(data.all, data.reject));
                });
            }
        });

        // 대상선택-회원등급선택
        $('select[name="groupSno"]').on({
            change: function (e) {
                var value = $(this).val();
                if (_.isEmpty(value) === false) {
                    var params = [];
                    params.push({name: "mode", value: "mailingAgreeCount"});
                    params.push({name: "groupSno", value: value});
                    ajax_with_layer('../member/member_ps.php', params, function (data, textStatus, jqXHR) {
                        $(e.target).next('#divSearchCount').remove();
                        $(e.target).after(appendCount(data.all, data.reject));
                    });
                }
            }
        });

        // 대상선택-직접선택
        $('#btnSearchMember, #linkSearchMember', $formSendMail).click(function (e) {
            e.preventDefault();
            window.open('../share/popup_add_member.php?sendMode=mail', 'member_search', 'width=1450, height=760, scrollbars=no');
        });
    });

    /**
     * 메일 수신거부 문구 html 생성
     * @param all
     * @param reject
     * @returns {string}
     */
    function appendCount(all, reject) {
        var html = [];
        html.push('&nbsp;&nbsp;<span class="search-count" id="divSearchCount">');
        html.push('<span id="receiveTotal">' + all + '</span>명');
        html.push('<span class="text-red">(수신거부 대상자</span>');
        html.push('<span id="rejectCount" class="text-red">' + reject + '</span>');
        html.push('<span class="text-red">명 포함)</span>');
        html.push('</span>');

        return html.join('');
    }
    //-->
</script>

                                    </div>
            </div>
        </div>
      
            


<script type="text/javascript">
    <!--
    $(document).ready(function () {
        
        $.ajax('../base/main_setting_ps.php', {
            method: "post",
            data: {mode: 'orderPresentationNew'},
            global_complete: false,
            beforeSend: function () {
                $('.js-oder-count-new').addClass('display-none')
            },
            success: function () {
                if (arguments[0].success === 'OK') {
                    var result = arguments[0].result;
                    if (result === true) {
                        $('.js-oder-count-new').removeClass('display-none');
                    }
                }
            }
        });
    });
    //-->
</script>
        </div>
    </div>


<div id="panel_popupPanel"></div>

<div id="gnbTopAnchor">
    <a href="#top"><img src="IMG/btn_gnb_top.png"></a>
</div>

<iframe name="ifrmProcess" src="./blank.html" class="display-none" width="100%" height="200"></iframe>
<script type="text/javascript">
    adminPanelApiAjax('member', 'mail', 'mail_send');
    $(function(){
        // 탑버튼 클릭
        $(document).on("click", "a[href=#top]", function(e) {
            $('html body').animate({scrollTop: 0}, 'fast');
        });

        // 스크롤 최하단시 탑아이콘 출력 (실제 컨텐츠 $('#content > .col-xs-12').height())
        $(window).scroll(function() {
            if ($(window).height() < $(document).height()) {
                if ($(window).scrollTop() >= 1) {
                    $("#gnbTopAnchor").slideDown(150);
                } else {
                    $("#gnbTopAnchor").slideUp(100);
                }
            }
        });
    });
</script>


</body></html>