<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<title>inventory</title>
</head>

<body style="padding:0 ; margin:0; ">
<div style="position:fixed; width:33.3%; background:rgba(247,247,247,1); height:100%; top:0; border-bottom:0; z-index:-1"></div>
<div style="min-width:320px; text-align:center; margin:100px auto 0; padding:0 15%; box-sizing:border-box;max-width:1000px; margin:0 auto  ">
    <h1 style="position:relative">INVENTORY<span style="width:20px; height:2px; background:rgba(0,0,0,1); text-align:center; position:absolute; left:50%; top:60px; margin-left:-10px"></span></h1>
    <div style="margin-bottom:40px; font-size:20px; padding-top:50px;">· New purchase from alphabitt  · </div>
    
    
 <div style="margin-bottom:50px">You just sold an item! The transaction details are below.</div>
   
<div style="width:20px; height:2px; background:rgba(0,0,0,1);margin-left:-10px; margin:0 auto; margin-bottom:50px"></div>

<div>SHIPPING ADDRESS</div>
<div style="margin-bottom:80px">Andrew Bittle<br> 69 Sherwood Lane<br> Westampton, New Jersey, 08060, US </div>

  <div style="border-bottom:1px solid #000; border-top:1px solid #000; overflow:hidden; padding:20px 0; margin-bottom:80px;">
     <div style="float:left; width:47%; border-right:1px  solid #000"><a href="#"><img src="../images/8.-Features_4_Shopping_1.png" width="80%" style="max-width:250px; min-width:120px;"></a></div>
     <div style="float:left; width:49%; padding-left:3%">
        <div style="font-size:1rem; text-align:left; margin-bottom:10px">Transaction<br> #90G09595HK155423H </div>
        <div>
           <ul style=" list-style:none; text-align:left; padding:0; margin:0;  font-size:0.8rem ">
               <li><span style="display:inline-block; width:80px;">Designer:</span> <span style="color:rgba(153,153,153,1)">The Viridi-anne </span></li>
                <li><span style="display:inline-block; width:80px;">Item: </span><span style="color:rgba(153,153,153,1)">Pants </span></li>
                 <li><span style="display:inline-block; width:80px;">Designer: </span><span style="color:rgba(153,153,153,1)">The Viridi-anne </span></li>
                  <li><span style="display:inline-block; width:80px;">Size: </span> <span style="color:rgba(153,153,153,1)">US 31  </span></li>
                   <li><span style="display:inline-block; width:80px;">Sale Price: </span><span style="color:rgba(153,153,153,1)">$156  </span></li>
           </ul>
         </div>
        
      </div>
  </div>
  
  
</div>

<div style="text-align:center; clear:both; border-bottom:1px solid rgba(204,204,204,1); width:100px; margin:0 auto "> 
    
    <a href="#" style="padding-left:10px; display:inline-block"><img src="http://alldesigns.co.kr/../images/0-1.-log-in-_sign-up_5.png" width="90%"></a>
    <a href="#" style="padding-left:10px; display:inline-block"><img src="http://alldesigns.co.kr/../images/0-1.-log-in-_sign-up_4.png" width="90%"></a>

</div>
<div  style=" text-align:center; margin-bottom:200px; font-size:0.8rem; color:#999">www.grailed.com</div>

</body>
</html>
