<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<title>inventory</title>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link rel="stylesheet" href="./css/font-awesome.min.css">
	<link rel="stylesheet" href="./css/swiper.min.css">
	<link rel="stylesheet" href="./css/reset.css">
     <link rel="stylesheet" href="./css/css.css">
	<link rel="stylesheet" href="./css/layout.css">
	<link rel="stylesheet" href="./css/media.css">
    <link rel="stylesheet" href="./css/mtree.css" >
    <link rel="stylesheet" href="./css/flexslider.css">
   <link rel="stylesheet" href="./css/slider.css">
   <link rel="stylesheet" href="./css/jquery.fancybox.css">

	<script src="./js/jquery.js"></script>  
	<script src="./js/jquery.form.min.js"></script>
	<script src="./js/jquery.swiper.min.js"></script>
	<script src="./js/script.js"></script>
	<script src="./js/script.mobile.js"></script>
    <script src="./js/menu.js"></script>
    <script src="./js/mypage.js"></script>
    <script src="./js/about.js"></script>
     <script src="./js/click-page.js"></script>
     <script src="./js/features.js"></script>
    <script src="./js/jquery.ulslide.js"></script>          
	<script src="./js/jquery.form.min.js"></script>
	<script src="./js/jquery.swiper.min.js"></script> 
   	<script src="./js/jquery.flexslider-min.js"></script>
     <script src="./js/jquery.flexslider.js"></script>	
      <script src="./js/buy-sell-page.js"></script>
    <script src="./js/jquery.glide.js"></script>
    <script src="./js/jquery.glide2.js"></script>
    <script src="./js/form.js"></script>
     <script src="./js/my-page.js"></script>
    <script src="./js/designers.js"></script>
     <script src="./js/sell.js"></script>
     <script src="./js/jquery.fancybox.js"></script>

</head>
<body>
             <!--about-->
             <div class="about-wrapper">
               <div class="about">
                  <div class="section header-container">
                       <div class="anchors horizontal-choice menu">
                       <a href="#about" class="scroll"><h3 class="active"><span>ABOUT</span></h3></a>
                       <a href="#security" class="scroll"><h3><span>SECURITY</span></h3></a>
                       <a href="#conduct" class="scroll"><h3><span>CONDUCT</span></h3></a>
                       <a href="#faqs"  class="scroll"><h3><span>FAQS</span></h3></a>
                       <a href="#fees"  class="scroll"><h3><span>COMMISSION</span></h3></a>
                       <a href="#support" class="scroll"><h3><span>SUPPORT</span></h3></a>
                       </div>
                   </div>                   
                   <div id="about">
                   <div class="section header-container">
                   <div class="subtitle">About<br>inventory<br>page <span></span></div>
                   <div class="section-content" >                    
                   <h1 class="definition sub-title jumbo bold">
                   ABOUT INVENTORY<span ></span>
                   </h1>                   
                   <p >that specific piece you obsess over owning, but can’t ever find or afford inventory is a curated community marketplace for men’s clothing. Our goal is to make great clo thing affordable and available to everyone.
</p>
                   <p >It’s hard to find that perfect item, especially at the right price. That’s why we built inventory. Each piece is sourced directly from the closets of like-minded fashion-cons cious individuals. Not only is our catalog highly curated, but since every item is secon dhand our prices are unbeatable. It’s the single best way to build your wardrobe with high-quality, stylish pieces.</p>
                   <p >Saving up for your Inventory? Have great clothes you rarely wear? Turn your closet into cash by posting your clothing for sale right now.</p>
                   </div>
                   </div>
                   </div>
                   <!--security-->
                   <div id="security">
                   <div class="section header-container" >
                   <div class="subtitle">Securty<br>page <span></span></div>
                   <div class="section-content" >
                   <h1 class="sub-title jumbo" >Money Back Guarantee<br> for Buyers + Sellers <span ></span></h1>                   
                   <p >
                   <span>The inventory marketplace is safe thanks to our team of world-class curators and community self-policing. In the rare case where something does go wrong all transactions conducted through inventory are eligible for PayPal Buyer and Seller Protection. To be eligible for protection, all sellers must ship to a confirmed address with tracking information. When applicable, PayPal’s Protection Program entitles you to reimbursement for the full purchase price of the item plus the original shipping costs you paid, if any, as long as you provide compelling evidence that supports your claim. Photographic evidence, tracking information, and written statements may be required in order to file your case. In the rare instance that a PayPal claim with compelling evidence is decided unfairly, you are also eligible for inventory Protection. Follow the links for more information about </span>
                   <span >, and inventory Protection.</span></p>
                   <div class="columns" >
                   <div class="column" >
                   <p class="bold heading" >Grailed Protection</p>
                   <p>Grailed Protection is an appeals process for your PayPal claim. It provides an additional layer of security in the rare case that a PayPal claim with compelling evidence is decid ed unfairly. In order to be eligible for Grailed Protection, you must have already completed a PayPal claim. If you believe that PayPal unfairly resolved your claim, se nd us PayPal’s resolution and we will happily review your case.</p>
                   </div>
                   <div class="column">
                   <p class="bold heading">Offsite Transactions</p>
                   <p >A common tactic used by scammers is to offer a discount on the asking price to entice users to go outside the inventory system. Users who attempt to conduct transactions offsite are almost always fraudulent. Offsite transactions are not eligible for inventory Protection and may not be eligible for PayPal protection either. For your safety we actively warn and ban users who attempt to conduct unsafe, offsite transactions.</p>
                   </div>
                   <div class="column" >
                   <p class="bold heading" >Zero-Tolerance Fraud Policy</p>
                   <p>We take fraud very seriously. In order to keep the community safe for all inventory users, the inventory team constantly monitors the marketplace for fraudulent items and dishonest buyers/sellers. Our Zero-Tolerance Policy means that anyone posting counterfeit goods, posting items they do not own, or engaging in any other duplicitous behavior will be immediately banned from inventory. Please exercise good judgement when using the marketplace.
                   </p>
                   </div>
                   </div>
                   </div>
                   </div>
                   </div>
                   <!--security-->
                    <!--conduct--> 
                    <div id="conduct">
                    <div class="section header-container" >
                     <div class="subtitle">Securty<br>page <span></span></div>
                        <div class="section-content">
                        <h1 class="sub-title jumbo" >Marketplace Code of Conduct<span ></span></h1>
                        <h1 class="msub-title jumbo" >Marketplace <br />Code of Conduct<span ></span></h1>
                        <div class="columns" >
                            <div class="column" >
                                <ol class="">
                                <li>Be respectful when dealing with other users. Bad behavior will not be tolerated.</li>
                                <li >Follow rule #1.</li>
                                <li>Do not send frivolous offers. We understand that you cannot always follow through, but you should make a good faith effort to do so on each and every offer you make.</li>
                                <li>Do not sell fake or replica items. Any seller doing so will be banned.</li>
                                <li>Ship items you sell in a timely manner, ideally within 72 hours and no longer than 5 days after purchase.</li>
                                <li>Be honest and accurate in your item descriptions. Make sure to highlight any flaws or distinctive details.</li>
                                <li >Communicate well. Keep buyers updated on the status of their orders and send tracking whenever possible.</li>
                                <li>Respect the inventory Curation team. Items are moved and deleted at their discretion.</li>
                                </ol>
                                <div><a class="small" href="#" ><span class="arrow question small">▶</span> Terms of Service</a></div>
                                <div><a class="small" href="#" ><span class="arrow question small">▶</span> DMCA Policy</a></div>
                                <div><a class="small" href="#" ><span class="arrow question small">▶</span>Privacy Policy</a></div>
                            </div>
                        </div>
                        </div>
                    </div>
                   </div>    
                   <!--conduct-->
                   <!--faq-->
                   <div id="faqs">
                   <div class="section header-container">
                   <div class="subtitle">FAQS<br>page <span></span></div>
                   <div class="section-content">                   
                   <h1 class="sub-title jumbo" >Frequently Asked Questions<span></span></h1>
                   <div class="columns" >
                   <div class="column buyer-questions">
                       <div class="general-questions">
                       <h1 class="sub-title bold">General</h1>
                       <div class="question-answer" >
                       <p class="bold"> 
                       <span class="arrow question small">▶</span>
                       <span>I’m having trouble accessing my account.</span>
                       </p>
                       <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                       <p class="bold">
                       <span class="arrow question small">▶</span>
                       <span >How can I change my log-in email?</span>
                       </p>
                       <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer">
                       <p class="bold">
                       <span class="arrow question small" >▶</span>
                       <span >Another user asked if we can conduct a transaction through PayPal gift or invoice, is this safe? Am I allowed to do this?</span>
                       </p>
                       <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       </div>                   
                   </div>  
                   
                   <div class="column seller-questions">
                   <h1 class="sub-title bold" >Seller</h1>
                       <div class="question-answer" >
                       <p class="bold">
                       <span class="arrow question small" >▶</span>
                       <span >How do I sell an item?</span></p>
                        <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                       <p class="bold">
                       <span class="arrow question small" >▶</span>
                       <span > How do I get paid?</span></p>
                        <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                       <p class="bold">
                       <span class="arrow question small" >▶</span>
                       <span > Should I post my item in Grailed, Hype, or Basics?</span></p>
                        <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                       <p class="bold">
                       <span class="arrow question small" >▶</span>
                       <span >Why was my item moved to a different section? </span></p>
                        <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                       <p class="bold">
                       <span class="arrow question small" >▶</span>
                       <span > Does Grailed allow replica or fake items?</span></p>
                        <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                       <p class="bold">
                       <span class="arrow question small" >▶</span>
                       <span >Why was my item deleted?</span></p>
                        <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                       <p class="bold">
                       <span class="arrow question small" >▶</span>
                       <span >  How do I change my PayPal email?</span></p>
                        <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                       <p class="bold">
                       <span class="arrow question small" >▶</span>
                       <span >  How many offers can I accept as a seller?</span></p>
                        <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                       <p class="bold">
                       <span class="arrow question small" >▶</span>
                       <span >  I accidentally sent out/accepted an offer, how do I cancel it?</span></p>
                        <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                       <p class="bold">
                       <span class="arrow question small" >▶</span>
                       <span > I accepted an offer on an item I have for sale, when do I get paid?</span></p>
                        <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                       <p class="bold">
                       <span class="arrow question small" >▶</span>
                       <span > Where do the funds go when I sell an item?</span></p>
                        <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                       <p class="bold">
                       <span class="arrow question small" >▶</span>
                       <span >  I just sold an item on Grailed, what’s next?</span></p>
                        <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                       <p class="bold">
                       <span class="arrow question small" >▶</span>
                       <span > Do I need to ship the item with tracking information?</span></p>
                        <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                       <p class="bold">
                       <span class="arrow question small" >▶</span>
                       <span >  How much does it cost?</span></p>
                        <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                       <p class="bold">
                       <span class="arrow question small" >▶</span>
                       <span >   I just refunded a buyer, will I be refunded the Grailed fee as well?</span></p>
                        <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                       <p class="bold">
                       <span class="arrow question small" >▶</span>
                       <span>  How do I make sure I am eligible for PayPal and Grailed Protection?</span></p>
                        <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       
                   </div>
                   
                   <div class="column seller-questions">
                   <h1 class="sub-title bold" >Buyer</h1>
                       <div class="question-answer" >
                           <p class="bold">
                           <span class="arrow question small" >▶</span>
                           <span>How can I change my log-in email?</span>
                           </p>
                            <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                           <p class="bold">
                           <span class="arrow question small" >▶</span>
                           <span> This listing looks suspicious, what should I do?</span>
                           </p>
                             <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                           <p class="bold">
                           <span class="arrow question small" >▶</span>
                           <span>When I attempt to purchase an item, I get a PayPal error.  What’s going on?</span>
                           </p>
                             <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                           <p class="bold">
                           <span class="arrow question small" >▶</span>
                           <span>I bought an item, but the seller is not responding.</span>
                           </p>
                             <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                           <p class="bold">
                           <span class="arrow question small" >▶</span>
                           <span>I purchased a fake item, how do I get my money back?</span>
                           </p>
                              <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                           <p class="bold">
                           <span class="arrow question small" >▶</span>
                           <span>I received an item I purchased and it did not come as described, how do I get a refund?</span>
                           </p>
                             <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       <div class="question-answer" >
                           <p class="bold">
                           <span class="arrow question small" >▶</span>
                           <span>What if there is an issue with the transaction?     (Seller does not ship item, item is damaged, etc.)</span>
                           </p>
                             <p class="answer">First click the Enter button in the header, then click “Forgot Password”. You will be sent an email with instructions on how to reset your password. If the issue persists, please email <a href="mailto:help@inventory.com">help@inventory.com</a> so our support team can assist you.<span class="arrup"><img src="images/arr_up.png"></span>
                       </p>
                       </div>
                       
                   </div>
                   </div> 
                    </div>               
                   </div>
                   </div>
                   <!--faq-->    
                   <!--free for buyers-->
                   <div id="fees">
                   <div class="section header-container" >
                   <div class="subtitle">Conduct<br>page <span></span></div>
                   <div class="section-content">
                   <div class="fees" >
                   <h1 class="sub-title bold" >Free for Buyers, <br>Low Seller Commission<span></span></h1>
                 
                   <div class="amounts" >
                  
                   </div>
                   <div class="refunds">
                   <h3>REFUNDS</h3>
                   <p class="mb20">In order for a seller to receive a fee refund on a listing, the buyer must be refunded in full through the original transaction with the refund marked as "Completed".  If you do not have the required funds in your PayPal balance, you should add them by initiating a transfer from a confirmed bank account.</p><p> Once this is done, please go to the sold listing page and click the "Request Fee Refund" button and follow the on-screen prompt. PayPal will only allow us to provide a fee refund within a 180 day period.</p>
                  
                   </div>
                   </div>
                   </div>
                   </div>
                   </div>
                   <!--free for buyers-->
                   <!--support-->
                   <div id="support">
                   <div class="section header-container">
                   <div class="subtitle">Support<br>page <span></span></div>
                   <div class="section-content">
                   <h1 class="sub-title jumbo" >Support<span></span></h1>
                   <p class="mb20">
                   Before contacting the support team please read the FAQ above. Quick answers to almost all questions can be found there. If you still have questions let us know and we will respond as quickly as possible.
                   </p>
                   <form >
                   <div class="form-field display-flex" >
                     <input class="emails" type="text" placeholder="E-mail address" value="" >
                   </div>
                   <div class="form-field">
                   <textarea class="" placeholder="Type your message" ></textarea></div>
                   <div class="button-wrapper" >
                   <button class="button" >SEND</button>
                   </div>
                   </form>
                   </div>
                   </div>
                   </div>
                   <!--support-->
                                               
               </div>              
             </div>               
             <!--about-->		
		<div id="footer">
			<div class="footer_inner">
				<div class="left_footer_box">
					<ul class="social_nav">
						<li>
							<a href="#">
								<img src="/../images/fk_ico.png" alt="FACE BOOK">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/../images/it_ico.png" alt="INSTAGRAM">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/../images/tw_ico.png" alt="TWITTER">
							</a>
						</li>
					</ul>
				</div>
				<div class="cetner_desc_box">
					<p>&copy; 2017 INVENTORY All right Reserved</p>
				</div>
				<div class="right_footer_box">
					<ul class="footer_nav">
						<li>
							<a href="#">TERMS &amp; CONDITIONS</a>
						</li>
						<li>
							<a href="#">PRIVACY POLICY</a>
						</li>
						<li>
							<a href="#">CONTACT</a>
						</li>
					</ul>
				</div>
			</div>
			<span class="shadow"></span>
		</div>
	</div>
	<div class="black_shadow"></div>
</body>
</html>