<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport">
	<title>inventory</title>
	<link href="//fonts.googleapis.com/inventory/css?family=Open+Sans" rel="stylesheet">
	<link href="//fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet">
	<link href="/inventory/css/font-awesome.min.css" rel="stylesheet">
	<link href="/inventory/css/swiper.min.css" rel="stylesheet">
	<link href="/inventory/css/reset.css" rel="stylesheet">
	<link href="/inventory/css/css.css" rel="stylesheet">
	<link href="/inventory/css/layout.css" rel="stylesheet">
	<link href="/inventory/css/media.css" rel="stylesheet">
	<link href="/inventory/css/mtree.css" rel="stylesheet">
	<link href="/inventory/css/flexslider.css" rel="stylesheet">
	<link href="/inventory/css/slider.css" rel="stylesheet">
	<script src="/inventory/js/jquery.js">
	</script>
	<script src="/inventory/js/jquery.form.min.js">
	</script>
	<script src="/inventory/js/jquery.swiper.min.js">
	</script>
	<script src="/inventory/js/script.js">
	</script>
	<script src="/inventory/js/script.mobile.js">
	</script>
	<script src="/inventory/js/menu.js">
	</script>
	<script src="/inventory/js/mypage.js">
	</script>
	<script src="/inventory/js/about.js">
	</script>
	<script src="/inventory/js/click-page.js">
	</script>
	<script src="/inventory/js/features.js">
	</script>
	<script src="/inventory/js/jquery.ulslide.js">
	</script>
	<script src="/inventory/js/jquery.form.min.js">
	</script>
	<script src="/inventory/js/jquery.swiper.min.js">
	</script>
	<script src="/inventory/js/jquery.flexslider-min.js">
	</script>
	<script src="/inventory/js/jquery.flexslider.js">
	</script>
	<script src="/inventory/js/buy-sell-page.js">
	</script>
	<script src="/inventory/js/jquery.glide.js">
	</script>
	<script src="/inventory/js/jquery.glide2.js">
	</script>
	<script src="/inventory/js/form.js">
	</script>
	<script src="/inventory/js/my-page.js">
	</script>
	<script src="/inventory/js/designers.js">
	</script>
	<script src="/inventory/js/mtree.js">
	</script>
</head>
<body>
	<!--mypage-->
	<div class="mypage_container_cover" id="mypage_wrap"></div><!--mypage//-->
	<div id="hamburger">
		<div class="hamburger_inner">
			<a class="close" href="#"><i aria-hidden="true" class="fa fa-times fa-1x"></i></a> <!--탭-->
			<div class="tab">
				<ul class="category-tab">
					<li class="active menu menutab1">
						<a href="#"><span>INVENTORY</span></a>
					</li>
					<li class="menu menutab2">
						<a href="#"><span>FILTER</span></a>
					</li>
				</ul>
			</div><!--탭-->
			<!--탭1-->
			<div id="tab1">
				<ul class="mtree transit">
					<li>
						<a href="#">MY PAGE</a>
						<ul>
							<li>
								<a href="/inventory/mypage/login.html">login</a>
							</li>
							<li>
								<a href="/inventory/mypage/join.html#">join</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">ACCOUNT</a>
						<ul>
							<li>
								<a href="/inventory/myaccount/messages">Messages</a>
							</li>
							<li>
								<a href="/inventory/myaccount/myitems">My items</a>
							</li>
							<li>
								<a href="/inventory/myaccount/history">History</a>
							</li>
							<li>
								<a href="/inventory/myaccount/settings">Settings</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">FEATURES</a>
						<ul>
							<li>
								<a href="/inventory/features/news.html">News</a>
							</li>
							<li>
								<a href="/inventory/features/streestyles.html">StreetStyles</a>
							</li>
							<li>
								<a href="/inventory/features/lookbook.html">Lookbook</a>
							</li>
							<li>
								<a href="/inventory/features/shopping.html">Shopping</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="/inventory/form/form.html">FORUM</a>
						<ul>
							<li>
								<a href="/inventory/form/form.html">forum</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="/inventory/about.html">ABOUT</a>
						<ul>
							<li>
								<a href="/inventory/about.html">about</a>
							</li>
						</ul>
					</li>
				</ul>
			</div><!--탭2-->
			<div id="tab2">
				<ul class="mtree transit">
					<li>
						<a href="#">GENDER</a>
						<ul>
							<li><label><input name="gender_name" type="radio"> <span>Man</span></label></li>
							<li><label><input name="gender_name" type="radio"> <span>Woman</span></label></li>
							<li><label><input name="gender_name" type="radio"> <span>Unisex</span></label></li>
						</ul>
					</li>
					<li>
						<a href="#">MARKET</a>
						<ul>
							<li><label><input name="market_name" type="radio"> <span>Inventory</span></label></li>
							<li><label><input name="market_name" type="radio"> <span>Classic</span></label></li>
							<li><label><input name="market_name" type="radio"> <span>Inventory</span></label></li>
						</ul>
					</li>
					<li>
						<a href="#">DESIGNER</a>
						<ul class="mdesigner">
							<li><span class="searchtitle">Search</span><input type="text"></li>
							<li style="list-style: none; display: inline">
								<a href="/inventory/designers.html" style="cursor: pointer;">View all designers</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">CATEGORY</a>
						<ul class="mcategory">
							<li>
								<a href="#">Tops</a> <label><input name="category_name" type="radio"> <span>ALL</span></label>
							</li>
							<li>
								<a href="#">Bottoms</a> <label><input name="category_name" type="radio"> <span>ALL</span></label>
							</li>
							<li>
								<a href="#">Outerweea</a> <label><input name="category_name" type="radio"> <span>ALL</span></label>
							</li>
							<li>
								<a href="#">Footweer</a> <label><input name="category_name" type="radio"> <span>ALL</span></label>
							</li>
							<li>
								<a href="#">Tailoring</a> <label><input name="category_name" type="radio"> <span>ALL</span></label>
							</li>
							<li>
								<a href="#">Accessories</a> <label><input name="category_name" type="radio"> <span>ALL</span></label>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">SIZE</a>
						<ul class="msize">
							<li>
								<a href="#">Tops &amp; Outerwear</a>
							</li>
							<li>
								<a href="#">Bottoms &amp; Pants</a>
							</li>
							<li>
								<a href="#">Footwear</a>
							</li>
							<li>
								<a href="#">Tailoring</a>
							</li>
							<li>
								<a class="on" href="#">Accessories</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">PRICE</a>
						<ul class="mprice">
							<li><span class="searchtitle">Min</span><input type="text"><span class="mprice2">~</span></li>
							<li><span class="searchtitle">Max</span><input type="text"></li>
						</ul>
					</li>
					<li>
						<a href="#">LOCATION</a>
						<ul class="mlocation">
							<li>
								<a href="#"><label><span>U.S.A</span> <input name="market_name" type="radio"></label></a>
							</li>
							<li>
								<a href="#"><label><span>Canada</span> <input name="market_name" type="radio"></label></a>
							</li>
							<li>
								<a href="#"><label><span>UK</span> <input name="market_name" type="radio"></label></a>
							</li>
							<li>
								<a href="#"><label><span>EU</span> <input name="market_name" type="radio"></label></a>
							</li>
							<li>
								<a href="#"><label><span>Asia</span> <input name="market_name" type="radio"></label></a>
							</li>
							<li>
								<a href="#"><label><span>AU / NZ</span> <input name="market_name" type="radio"></label></a>
							</li>
							<li>
								<a href="#"><label><span>Other</span> <input name="market_name" type="radio"></label></a>
							</li>
						</ul>
					</li>
				</ul>
			</div><!--탭2-->
		</div>
	</div>
	<div class="index" id="wrap">
		<div id="header">
			<div class="header_inner">
				<div class="header_row">
					<div class="header_top_box">
						<span class="top_string">FREE STANDARD SHIPPING ON ORDERS OVER $150</span>
						<ul class="header_top_nav">
							<li>
								<a href="/inventory/about.html">About</a>
							</li>
							<li>
								<a href="/inventory/features/features.html">Features</a>
							</li>
							<li>
								<a href="/inventory/form/form.html">Fourm</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="header_row">
					<div class="right_header_box">
						<a class="hamburger" href="#"><i aria-hidden="true" class="fa fa-bars"></i></a>
						<ul class="member_category">
							<li>
								<a class="sell" href="/inventory/mypage/sell.html">SELL</a>
							</li>
							<li>
								<a class="enter" href="/inventory/form/form4.html">MY PAGE</a>
							</li>
							<li>
								<a class="account" href="#">ACCOUNT</a>
							</li>
						</ul>
					</div>
					<div class="left_header_box">
						<h1 id="logo"><a href="/inventory/">INVENTORY</a></h1>
						<ul class="category">
							<li>
								<a class="m1" href="/inventory/designers.html">DESIGNERS</a>
							</li>
							<li>
								<a class="m2" href="#">MAN</a>
							</li>
							<li>
								<a class="m3" href="#">WOMAN</a>
							</li>
							<li>
								<a class="m4" href="#searchbar">SEARCH</a>
							</li>
						</ul>
					</div>
				</div><!--sub1-->
				<div class="dropdown designers">
					<div class="dropdown_inner">
						<ul>
							<li>
								<a href="#">Acne Studios</a>
							</li>
							<li>
								<a href="#">Adidas</a>
							</li>
							<li>
								<a href="#">Alexander McQueen</a>
							</li>
							<li>
								<a href="#">Alexander Wang</a>
							</li>
							<li>
								<a href="#">Balenciaga</a>
							</li>
							<li>
								<a href="#">Balmain</a>
							</li>
							<li>
								<a href="#">Bape</a>
							</li>
							<li>
								<a href="#">Burberry</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">Comme des Garcons</a>
							</li>
							<li>
								<a href="#">Common Projects</a>
							</li>
							<li>
								<a href="#">Dior</a>
							</li>
							<li>
								<a href="#">Dries Van Noten</a>
							</li>
							<li>
								<a href="#">Fear of God</a>
							</li>
							<li>
								<a href="#">Givenchy</a>
							</li>
							<li>
								<a href="#">Gucci</a>
							</li>
							<li>
								<a href="#">Julius</a>
							</li>
							<li>
								<a href="#">Junya Watanabe</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">Lanvin</a>
							</li>
							<li>
								<a href="#">Louis Vuitton</a>
							</li>
							<li>
								<a href="#">Maison Margiela</a>
							</li>
							<li>
								<a href="#">Nike</a>
							</li>
							<li>
								<a href="#">Number (N)ine</a>
							</li>
							<li>
								<a href="#">Off-White</a>
							</li>
							<li>
								<a href="#">Prada</a>
							</li>
							<li>
								<a href="#">Raf Simons</a>
							</li>
							<li>
								<a href="#">Rick Owens</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">Saint Laurent Paris</a>
							</li>
							<li>
								<a href="#">Stone Island</a>
							</li>
							<li>
								<a href="#">Supreme</a>
							</li>
							<li>
								<a href="#">Thom Browne</a>
							</li>
							<li>
								<a href="#">Number (N)ine</a>
							</li>
							<li>
								<a href="#">Undercover</a>
							</li>
							<li>
								<a href="#">Visvim</a>
							</li>
							<li>
								<a href="#">Raf Simons</a>
							</li>
							<li>
								<a href="#">Rick Owens</a>
							</li>
						</ul>
						<div class="viewall">
							<a href="/inventory/designers.html">VIEW ALL</a>
						</div>
					</div>
				</div><!--sub1--><!--sub2-->
				<div class="dropdown man">
					<div class="dropdown_inner">
						<div class="depthmenu">
							<h3>New Arrivals</h3>
							<ul>
								<li>
									<a href="#">Clothing</a>
								</li>
								<li>
									<a href="#">Shoes</a>
								</li>
								<li>
									<a href="#">Accessories</a>
								</li>
								<li>
									<a href="#">Signature</a>
								</li>
								<li>
									<a href="#">Back in Stock</a>
								</li>
							</ul>
						</div>
						<div class="depthmenu">
							<h3>Clothing</h3>
							<ul>
								<li>
									<a href="#">Button Ups</a>
								</li>
								<li>
									<a href="#">Coats and Jackets</a>
								</li>
								<li>
									<a href="#">Denim</a>
								</li>
								<li>
									<a href="#">Knitwear</a>
								</li>
								<li>
									<a href="#">Shorts</a>
								</li>
								<li>
									<a href="#">Suits</a>
								</li>
								<li>
									<a href="#">Trousers</a>
								</li>
							</ul>
						</div>
						<div class="depthmenu">
							<h3>Shoes</h3>
							<ul>
								<li>
									<a href="#">Ankle Boots</a>
								</li>
								<li>
									<a href="#">Derbies and Oxfords</a>
								</li>
								<li>
									<a href="#">Lace Up Boots</a>
								</li>
								<li>
									<a href="#">Sneakers</a>
								</li>
								<li>
									<a href="#">Loafers</a>
								</li>
								<li>
									<a href="#">Mid Boots</a>
								</li>
								<li>
									<a href="#">Sandals</a>
								</li>
							</ul>
						</div>
						<div class="depthmenu">
							<h3>Accessories</h3>
							<ul>
								<li>
									<a href="#">Sunglasses</a>
								</li>
								<li>
									<a href="#">Backpacks</a>
								</li>
								<li>
									<a href="#">Belts</a>
								</li>
								<li>
									<a href="#">Hats</a>
								</li>
								<li>
									<a href="#">Jewelry</a>
								</li>
								<li>
									<a href="#">Scarves and Gloves</a>
								</li>
								<li>
									<a href="#">Tote and Duffle Bags</a>
								</li>
							</ul>
						</div>
					</div>
				</div><!--sub2--><!--sub3-->
				<div class="dropdown woman">
					<div class="dropdown_inner">
						<div class="depthmenu">
							<h3>New Arrivals</h3>
							<ul>
								<li>
									<a href="#">Clothing</a>
								</li>
								<li>
									<a href="#">Shoes</a>
								</li>
								<li>
									<a href="#">Accessories</a>
								</li>
								<li>
									<a href="#">Signature</a>
								</li>
								<li>
									<a href="#">Back in Stock</a>
								</li>
							</ul>
						</div>
						<div class="depthmenu">
							<h3>Clothing</h3>
							<ul>
								<li>
									<a href="#">Tops</a>
								</li>
								<li>
									<a href="#">Bottoms</a>
								</li>
								<li>
									<a href="#">Dresses</a>
								</li>
								<li>
									<a href="#">Jumpsuits</a>
								</li>
								<li>
									<a href="#">Denim</a>
								</li>
								<li>
									<a href="#">Jackets</a>
								</li>
								<li>
									<a href="#">Knitwear</a>
								</li>
							</ul>
						</div>
						<div class="depthmenu">
							<h3>Shoes</h3>
							<ul>
								<li>
									<a href="#">Ankle</a>
								</li>
								<li>
									<a href="#">Boots</a>
								</li>
								<li>
									<a href="#">Sandals</a>
								</li>
								<li>
									<a href="#">Clogs</a>
								</li>
								<li>
									<a href="#">Derbies and Oxfords</a>
								</li>
								<li>
									<a href="#">Flats</a>
								</li>
								<li>
									<a href="#">Heels</a>
								</li>
								<li>
									<a href="#">Sneakers</a>
								</li>
							</ul>
						</div>
						<div class="depthmenu">
							<h3>Accessories</h3>
							<ul>
								<li>
									<a href="#">Jewelry</a>
								</li>
								<li>
									<a href="#">Sunglasses</a>
								</li>
								<li>
									<a href="#">Hats</a>
								</li>
								<li>
									<a href="#">Scarves and Gloves</a>
								</li>
								<li>
									<a href="#">Belts</a>
								</li>
								<li>
									<a href="#">Hair</a>
								</li>
								<li>
									<a href="#">Opticals</a>
								</li>
							</ul>
						</div>
					</div>
				</div><!--sub3--><!--account-->
				<div class="accountmenu">
					<ul>
						<li>
							<a href="/inventory/myaccount/messages">MESSAGES</a>
						</li>
						<li>
							<a href="/inventory/myaccount/myitems">MY ITEMS</a>
						</li>
						<li>
							<a href="/inventory/myaccount/history">HISTORY</a>
						</li>
						<li>
							<a href="/inventory/myaccount/settings">SETTINGS</a>
						</li>
					</ul>
				</div><!--account-->
			</div>
		</div>
	</div>
	<script src="/inventory/js/mtree.js">
	</script>
</body>
</html>