<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<title>inventory</title>
</head>

<body style="padding:0 ; margin:0">
<div style="width:320px; text-align:center; margin:100px auto 0 ">
    <h1>INVENTORY</h1>
    <div style="font-style:italic; margin-bottom:40px; font-size:20px">Thanks for Signing Up</div>
    <div style="border-bottom:1px dotted #CCCCCC; padding-bottom:40px; margin-bottom:40px;">
        <div><a href="#"><img src="http://alldesigns.co.kr/../images/0-1.-log-in-_sign-up_2.png" /></a></div>
        <div style="font-weight:bold">ACTIVATE YOUR ACCOUNT </div>
        <div style="font-size:11px; color:rgba(204,204,204,1);"> (You clearly have good taste.) </div>
    </div>
    <div>
        <div><a href="#"><img src="http://alldesigns.co.kr/../images/0-1.-log-in-_sign-up_1.png" /></a></div>
        <div style="font-weight:bold">INVENTORY </div>
        <div style="font-size:11px; color:rgba(204,204,204,1);">Check out our Quick Start<br> Guide to Grailed </div>
    </div>
</div>
<div style=" margin-bottom:20px; margin-right:10%; text-align:right"> 
    <a href="#" style="padding-left:10px; display:inline-block"><img src="http://alldesigns.co.kr/../images/0-1.-log-in-_sign-up_4.png"></a>
    <a href="#" style="padding-left:10px; display:inline-block"><img src="http://alldesigns.co.kr/../images/0-1.-log-in-_sign-up_5.png"></a>

</div>
<div style="padding:7% 10%; background:#fbfbfb; color:#949494; line-height:150%">
To make sure you don’t miss out on the newest heat and latest price drops, add no-reply@grailed.com to your address book. You can unsubscribe from receiving these emails or unsubscribe from all Grailed emails. All Grailed services are subject to our Privacy & Cookies Policy and Terms & Conditions. By using our services you agree to these. 
<p style="color:#5f9a93;  text-align:right; padding-top:30px;">These services are operated and provided by Grailed Inc. <br>
www.inventory.com</p>
</div>
</body>
</html>
