@charset "utf-8";

/* LOCKED */
.tree-summer .locked li a { color:gray; }
/* DOTS */
.tree-summer ul { background-position:6px 1px; background-repeat:repeat-y; background-image:url(data:image/gif;base64,R0lGODlhAgACAIAAAB4dGf///yH5BAEAAAEALAAAAAACAAIAAAICRF4AOw==); background-image:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/dot_for_ie.gif"); *background-image:url("dot_for_ie.gif"); }
.tree-summer li { background-position:-64px -16px; background-repeat:no-repeat; background-image:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/icons.gif"); }
/* NO DOTS */
.tree-summer .no_dots, .tree-summer .no_dots ul { background:transparent; }
.tree-summer .no_dots li.leaf { background-image:none; background-color:transparent; }
/* OPEN or CLOSED */
.tree-summer li.open { background:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/icons.gif") -32px -48px no-repeat; }
.tree-summer li.closed, #jstree-dragged.tree-summer li li.open { background:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/icons.gif") -48px -32px no-repeat; }
#jstree-marker { background-image:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/icons.gif"); }
/* DEFAULT, HOVER, CLICKED, LOADING STATES */
.tree-summer li a, .tree-summer li span { border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tree-summer li a:hover, .tree-summer li a.hover { background: #e7f4f9; border:1px solid #d8f0fa; padding:0px 3px 0px 3px; }
.tree-summer li a.clicked, .tree-summer li a.clicked:hover, .tree-summer li span.clicked { background: #beebff; border:1px solid #99defd; padding:0px 3px 0px 3px; }
/* ICONS */
.tree-summer ins { background-image:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/icons.gif"); background-position:0 0; background-repeat:no-repeat; }
.tree-summer ul li a.loading ins { background-image:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/throbber.gif") !important; background-position:0 0 !important; } /* UL is added to make selector stronger */
.tree-summer li a ins.forbidden { background-position:-16px -16px; }
.tree-summer .locked li a ins { background-position:0 -48px; }
.tree-summer li span ins { background-position:-16px 0; }
.tree-summer li a.designPage ins {background-position:0px -64px;}
.tree-summer li a.lock_folder ins {background-position:0px -388px;}
.tree-summer li a.gray_folder ins {background-position:0px -48px;}
.tree-summer li a.group_folder ins {background-position:0px -407px;}
.tree-summer li a.stylesheet ins {background-position:0px -264px;}
#jstree-dragged.tree-summer ins { background:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/icons.gif") -16px -32px no-repeat; }
#jstree-dragged.tree-summer ins.forbidden { background:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/icons.gif") -16px -16px no-repeat; }

/* CONTEXT MENU */
.tree-summer-context a ins { background-image:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/icons.gif"); background-repeat:no-repeat; background-position:-64px -64px; }
.tree-summer-context a ins.create { background-position:0 -16px; }
.tree-summer-context a ins.rename { background-position:-16px 0px; }
.tree-summer-context a ins.remove { background-position:0 -32px; }
.tree-summer-context a ins.property { background-position:0 -112px; height:16px;}

/* Panel */
.tree_panel {width:100%;}
.tree_panel .menu {border:1px solid #898C95; background:#F0F0EE; position:relative;line-height:25px; padding:3px 0;}
.tree_panel .menu a {display:inline-block; border:1px solid #F0F0EE; height:18px; width:18px; margin-left:1px; margin-top:2px; vertical-align:middle;}
.tree_panel .menu a:hover {background:#B2BBD0;}
.tree_panel .menu a.create {background-image:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/icons.gif"); background-position:left -17px; width:16px; height:15px;}
.tree_panel .menu a.design_page_create {margin-top:-1px; width:110px; height:24px; padding-top:3px;}
.tree_panel .menu a.open_all {background-image:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/icons.gif); background-position:left" -145px; width:16px; height:18px;}
    
.tree_panel .menu a.close_all {background-image:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/icons.gif"); background-position:-1px -162px; width:16px; height:18px;}
.tree_panel .menu a.refresh {background-image:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/icons.gif"); background-position:left -128px; width:16px; height:17px;}
.tree_panel .menu .mall-info {width:100%; font-weight:bold;}
.tree_panel .menu .mall-info span.mall-name {max-width:120px; display:inline-block; vertical-align:bottom; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.tree_panel .menu .cmenu {width:22px; height:22px; position:absolute; right:1px; top:1px; border:1px solid #F0F0EE; background:#F0F0EE; overflow:hidden;}
.tree_panel .menu .cmenu a {margin:0 0 0 0;}
.tree_panel .menu .hover {height:auto; overflow:visible; border:1px solid #CCC;}
.tree_panel .skin_name {height:20px; padding:2px 0px 0px 2px; color:#333; font-size:12px; font-weight:bold; overflow:hidden;}
.tree_panel .tree {padding:5px 0; width:100%; overflow:auto; background-color:#ffffff; font-size:9pt; letter-spacing:-1px;}
.tree_panel .tree li a {height:auto;}
.tree_panel .tree li a span.tip1 {color:#6ba900; font-weight:bold; font-family:tahoma; font-size:9px; letter-spacing:0px;}
.tree_panel .tree li a span.tip2 {color:#2D73A8; font-family:tahoma; font-size:9px; letter-spacing:0px;}


/* category Panel */
.category_panel {width:208px; margin-top:6px;}
.category_panel .menu {border:1px solid #898C95; background:#F0F0EE; width:100%; height:23px;}
.category_panel .menu a {float:left; display:block; border:1px solid #F0F0EE; height:18px; width:18px; margin-top:1px;}
.category_panel .menu a:hover {background:#B2BBD0;}
.category_panel .menu a.rename {background-image:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/icons.gif"); background-repeat:no-repeat; background-position:-16px top; width:16px; height:15px;}
.category_panel .menu a.remove {background-image:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/icons.gif"); background-repeat:no-repeat; background-position:left -33px; width:16px; height:14px;}
.category_panel .menu a.open_all {background-image:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/icons.gif"); background-repeat:no-repeat; background-position:left -145px; width:16px; height:16px;}
.category_panel .menu a.close_all {background-image:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/icons.gif"); background-repeat:no-repeat; background-position:-1px -162px; width:16px; height:16px;}
.category_panel .menu a.refresh {background-image:url("https://gdadmin.pro.godomall.com:14002/admin/gd_share/script/jquery/jstree/themes/summer/icons.gif"); background-repeat:no-repeat; background-position:left -128px; width:16px; height:16px;}
.category_panel .menu .division {float:left;background:#F0F0EE; width:60px; height:16px;}
.category_panel .menu .category_icon {float:left;margin:4px 0px 0px 4px;}
.category_panel .tree {width:100%; overflow:auto; background-color:#ffffff; border-right:1px #dddddd solid; border-bottom:1px #dddddd solid; border-left:1px #dddddd solid; font-size:12px;}
.category_panel .tree {min-height:650px;}
*html .category_panel .tree {height:650px;}
.category_panel .tree .displayN {color:#aaaaaa}
