<? include "../head-mylogin.html" ?>
<div  class="mypage_container_cover askquesion">
   <div class="mypage_content_wrapper">
        <div class="mypage_container_cover">
          <div class="mypage_container makeanoffer-wrapper">
             <h1>Ask a Question</h1>                 
              <p class="italic">Do not send payments offsite. If you do not pay through Grailed<br> you are not eligible for Grailed or PayPal Fraud Protection.</p>
              <div class="vanilla-offer">
              <form>
             
              <div class="form-field">
              <textarea name="message" id="message"  cols="40" rows="5" ></textarea>
              </div>
              <div class="form-field" >
              <button class="button askbtn" ><span>Send</span></button>
              </div>
              </form>
             
             </div>
          </div>
      </div>
  </div>

</div>
	
		
		<div id="footer">
			<div class="footer_inner">
				<div class="left_footer_box">
					<ul class="social_nav">
						<li>
							<a href="#">
								<img src="/../images/fk_ico.png" alt="FACE BOOK">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/../images/it_ico.png" alt="INSTAGRAM">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/../images/tw_ico.png" alt="TWITTER">
							</a>
						</li>
					</ul>
				</div>
				<div class="cetner_desc_box">
					<p>&copy; 2017 INVENTORY All right Reserved</p>
				</div>
				<div class="right_footer_box">
					<ul class="footer_nav">
						<li>
							<a href="#">TERMS &amp; CONDITIONS</a>
						</li>
						<li>
							<a href="#">PRIVACY POLICY</a>
						</li>
						<li>
							<a href="#">CONTACT</a>
						</li>
					</ul>
				</div>
			</div>
			<span class="shadow"></span>
		</div>
	</div>
	<div class="black_shadow"></div>
</body>
</html>