<? include "../head.html" ?>
		<div id="container">
       <!--subcon-->
       <div class="conversations-wrapper feedback-wrapper">
         <!--feedback-->
          <div class="feedbackman">
              <p class="feedbackbg"><img src="../images/2.-click_page_peedback.png"></p>
              <p class="feedbacktxt1">Feedback</p>
              <p class="feedbacktxt2">badleroybrown (90) </p>
           </div>
           <div class="sellerscore">
             <h2>Seller Score </h2>
             <div class="sellerscoretxt" > 72  out of  72  users would buy again </div>
            </div>
           <div class="itemas">
             <div class="itemas1"><span> Item as Described  4.97/5</span> </div>
             <div class="itemas2"><span>Item as Described  4.97/5</span>  </div>
             <div class="itemas3"><span>Item as Described  4.97/5</span> </div>
           </div>
          
         <!--feedback-->
          
          <!--1-->
          <h2> Feedback Score</h2>
          <div class="feedbackscore" >         
           <div class="feedbackscore-item">
             <div class="feedbackscore-listing-details-wrapper" >
             <div class="feedbackscore-listing-details">
             <a class="feedbackscore-listing-link" href="#" target="_blank" >
               <div class="feedbackscore-listing-image" ></div>
                 <div class="feedbackscore-listing-txt">
                      <span></span>
                     <h3>Arc Logo Shirt </h3>
                     <h3 class="sub-title" > by Supreme </h3>
                 </div>
               </a>
             </div>
             </div>
             <div class="feedbackscore-last-action">
              <div class="activity-log-item-content">
              <div class="messages">
                <ul>
                  <li>Item As Described  5.0 / 5 </li>
                  <li>hipped Quickly  4.5 / 5</li>
                  <li> Communicated Well  4.5 / 5</li> 
                </ul>
               </div>
              </div>
             </div>
             <div class="feedbackscore-details" >
             <h3 class="sub-title">Shipped quickly and was great with communication. Item was of course authentic and fits perfectly. Thanks again. 
Shipped </h3>
             
             </div>
            
             </div>  
           </div> 
           <!--1--> 
           
           <!--2-->          
          <div class="feedbackscore" >         
           <div class="feedbackscore-item">
             <div class="feedbackscore-listing-details-wrapper" >
             <div class="feedbackscore-listing-details">
             <a class="feedbackscore-listing-link" href="#" target="_blank" >
               <div class="feedbackscore-listing-image"></div>
                  <div class="feedbackscore-listing-txt">
                  <span></span>
                     <h3>Arc Logo Shirt </h3>
                     <h3 class="sub-title" > by Supreme </h3>
                 </div>
               </a>
             </div>
             </div>
             <div class="feedbackscore-last-action">
              <div class="activity-log-item-content">
              <div class="messages">
                <ul>
                  <li>Item As Described  5.0 / 5 </li>
                  <li>hipped Quickly  4.5 / 5</li>
                  <li> Communicated Well  4.5 / 5</li> 
                </ul>
               </div>
              </div>
             </div>
             <div class="feedbackscore-details" >
             <h3 class="sub-title">Shipped quickly and was great with communication. Item was of course authentic and fits perfectly. Thanks again. 
Shipped </h3>
             
             </div>
            
             </div>  
           </div> 
           <!--2-->
           
           <!--3-->          
          <div class="feedbackscore" >         
           <div class="feedbackscore-item">
             <div class="feedbackscore-listing-details-wrapper" >
             <div class="feedbackscore-listing-details">
             <a class="feedbackscore-listing-link" href="#" target="_blank" >
               <div class="feedbackscore-listing-image"></div>
                  <div class="feedbackscore-listing-txt">
                    <span></span>
                     <h3>Arc Logo Shirt </h3>
                     <h3 class="sub-title" > by Supreme </h3>
                 </div>
               </a>
             </div>
             </div>
             <div class="feedbackscore-last-action">
              <div class="activity-log-item-content">
              <div class="messages">
                <ul>
                  <li>Item As Described  5.0 / 5 </li>
                  <li>hipped Quickly  4.5 / 5</li>
                  <li> Communicated Well  4.5 / 5</li> 
                </ul>
               </div>
              </div>
             </div>
             <div class="feedbackscore-details" >
             <h3 class="sub-title">Shipped quickly and was great with communication. Item was of course authentic and fits perfectly. Thanks again. 
Shipped </h3>
             
             </div>
            
             </div>  
           </div> 
           <!--3-->  
      
          <!--item-->
        </div>      
       <!--subcon-->
		</div>
		</div>
		<div id="footer">
			<div class="footer_inner">
				<div class="left_footer_box">
					<ul class="social_nav">
						<li>
							<a href="#">
								<img src="/../images/fk_ico.png" alt="FACE BOOK">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/../images/it_ico.png" alt="INSTAGRAM">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/../images/tw_ico.png" alt="TWITTER">
							</a>
						</li>
					</ul>
				</div>
				<div class="cetner_desc_box">
					<p>&copy; 2017 INVENTORY All right Reserved</p>
				</div>
				<div class="right_footer_box">
					<ul class="footer_nav">
						<li>
							<a href="#">TERMS &amp; CONDITIONS</a>
						</li>
						<li>
							<a href="#">PRIVACY POLICY</a>
						</li>
						<li>
							<a href="#">CONTACT</a>
						</li>
					</ul>
				</div>
			</div>
			<span class="shadow"></span>
		</div>
	</div>
	<div class="black_shadow"></div>
</body>
</html>