<? include "../head.html" ?>
        <div  class="mypage_container_cover"></div>		
		<div id="container">
        <div id="content">                 
        <div class="mypage_content_wrapper">
          <div class="mypage_container_cover">         
            <div class="mypage_container">
               <h1>Enter your e-male </h1>
               <p class="subtitle">Enter your email address and we’ll send<br> you a link to change your password. </p>
               
               <form action="" method="post" class="form">
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" id="username" name="_username" placeholder="E.mail" class="form-control">
                </div>                      
                <div class="form-group">
                    <div id="login-btn" title="login" type="submit" class="btn btn-login btn-block resetbtn">
                     <a href="#"><span>SUBMIT</span></a></div>
                </div>               
                              
                <div  class="form-group txt">
                   <p>Didn't receive confirmation instructions?</p>                   
                </div>                
            </form>
               </div>
            </div>
        </div>
		</div>
		</div>
		<div id="footer">
			<div class="footer_inner">
				<div class="left_footer_box">
					<ul class="social_nav">
						<li>
							<a href="#">
								<img src="/../images/fk_ico.png" alt="FACE BOOK">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/../images/it_ico.png" alt="INSTAGRAM">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/../images/tw_ico.png" alt="TWITTER">
							</a>
						</li>
					</ul>
				</div>
				<div class="cetner_desc_box">
					<p>&copy; 2017 INVENTORY All right Reserved</p>
				</div>
				<div class="right_footer_box">
					<ul class="footer_nav">
						<li>
							<a href="#">TERMS &amp; CONDITIONS</a>
						</li>
						<li>
							<a href="#">PRIVACY POLICY</a>
						</li>
						<li>
							<a href="#">CONTACT</a>
						</li>
					</ul>
				</div>
			</div>
			<span class="shadow"></span>
		</div>
	</div>
	<div class="black_shadow"></div>
</body>
</html>