<? include "../head.html" ?>	
        <div  class="mypage_container_cover" >
          <div class="close"><a href="#"><i class="fa fa-times fa-x" aria-hidden="true"></i></a></div>
        
		<div id="container">
        <div id="content">
        <div class="mypage_content_wrapper">        
            <div class="mypage_container">
              <div class="nav">
               <ul>
                 <a href="/inventory/mypage/login.html" ><li class="circleon"></li><span>ID <br>Registration</span></a>
                 <a href="/inventory/mypage/join.html" ><li class="circleon"></li><span>Verify <br> Your Account</span></a>
                 <a href="/inventory/mypage/region.html" ><li></li><span>Personal  <br>Information</span></a>
                 <a href="/inventory/mypage/signed.html" ><li></li><span>Signed  <br>up</span></a>
               </ul>              
              </div>
            
              <div class="join">
               <h1>JOIN US</h1>
               <p class="subtitle">Create Account! <br>Please enter your personal information</p>		
               <div class="jointitle">ID Registration</div>
               <form action="" method="post" class="form">
                <div class="formjoin-group">
                    <label for="username">Email</label>
                    <input type="text" id="username" name="_username"  class="form-control form-join">
                </div>
                <div class="formjoin-group">
                    <label for="password">Password<span class="star">*</span></label>
                    <input type="password" id="password" name="_password" class="form-control form-join"  >
                </div>  
                <div class="formjoin-group">
                    <label for="password2">Password<span class="star">*</span></label>
                    <input type="password" id="password2" name="_password" class="form-control form-join" >
                </div>            
                
                <div class="formjoin-group">
                    <div id="join-btn" title="joinus" type="submit" class="btn btn-login btn-block" >
                    <a href="/inventory/mypage/region.html"><span>Verify Your Account </span></a></div>
                </div>
                <div class="jointxt">
                  <p class="jointxt1">Verification email sent to chan030303@naver.com</p>
                  <p class="jointxt2">Please check your inbox for an email from us.<br>
                Once you verify your account, you will have full access to Grailed.</p>
              </div> 
             </form>
              </div> 
            </div>
            <!--navi-->
            <div class="navi">
               <div class="navicover">
               <div class="on">                   
                  <a href="/inventory/mypage/login.html" >
                     <span class="circle circleon"></span>
                     <span class="ttab">ID Registration</span>
                   </a>
                </div>
                </div> 
                
               <div class="navicover">
               <div class="on">                
                  <a href="/inventory/mypage/join.html" >
                     <span class="circle circleon"></span>
                     <span class="ttab">Verify Your Account</span>
                   </a>
                </div>
                </div> 
                
               <div class="navicover">
               <div class="on">                 
                  <a href="/inventory/mypage/region.html" >
                     <span class="circle circleoff"></span>
                     <span class="ttab">Personal Information</span>
                   </a>
                </div>
                </div>
                
              <div class="navicover">
               <div class="off">                  
                  <a href="/inventory/mypage/signed.html" >
                     <span class="circle circleoff"></span>
                     <span class="ttab">Signed up</span>
                   </a>
                </div>
                </div> 
                
            </div>
            <!--navi-->
            </div>	
        </div>
        </div>
		</div>
		</div>
		<div id="footer">
			<div class="footer_inner">
				<div class="left_footer_box">
					<ul class="social_nav">
						<li>
							<a href="#">
								<img src="/../images/fk_ico.png" alt="FACE BOOK">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/../images/it_ico.png" alt="INSTAGRAM">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/../images/tw_ico.png" alt="TWITTER">
							</a>
						</li>
					</ul>
				</div>
				<div class="cetner_desc_box">
					<p>&copy; 2017 INVENTORY All right Reserved</p>
				</div>
				<div class="right_footer_box">
					<ul class="footer_nav">
						<li>
							<a href="#">TERMS &amp; CONDITIONS</a>
						</li>
						<li>
							<a href="#">PRIVACY POLICY</a>
						</li>
						<li>
							<a href="#">CONTACT</a>
						</li>
					</ul>
				</div>
			</div>
			<span class="shadow"></span>
		</div>
	</div>
	<div class="black_shadow"></div>
</body>
</html>