<? include "../head.html" ?>	
        <div  class="mypage_container_cover" >
          <div class="close"><a href="#"><i class="fa fa-times fa-x" aria-hidden="true"></i></a></div>
        
		<div id="container">
        <div id="content">
        <div class="mypage_content_wrapper">        
            <div class="mypage_container">            
              <div class="join">
               <h1>JOIN US</h1>
               <p class="subtitle">Create Account! <br>Please enter your personal information</p>		
               <div class="join-titleB">ID Registration</div>
               <form action="" method="post" class="form mb40">
                <div class="formjoin-group">
                    <label for="username">Email</label>
                    <input type="text" id="username" name="_username"  class="form-control form-join">
                </div>
                <div class="formjoin-group">
                    <label for="password">Password<span class="star">*</span></label>
                    <input type="password" id="password" name="_password" class="form-control form-join"  >
                </div>  
                <div class="formjoin-group">
                    <label for="password2">Password<span class="star">*</span></label>
                    <input type="password" id="password2" name="_password" class="form-control form-join" >
                </div> 
               
             </form>
          
              <!--region-->
              
              <div class="join-titleB">Personal Information</div>            
              <div class="regiontitle">Region</div>
              <div class="regionsubtitle">Please select the country of your registration address</div>
               <form action="" method="post" class="form mb30">
                   <select name="CountriesDropDownList" id="CountriesDropDownList">
                      <option value="Select">Please select</option>
                      <option value="Afghanistan">Afghanistan</option>
                   </select>
               </form>             
                        
             
               <form action="" method="post" class="form">
                <div class="formjoin-group">
                    <label for="fisrstname">First Name<span class="star">*</span></label>
                    <input type="text" id="firstname" name="_username"  class="form-control form-join" required>
                </div>
                 <div class="formjoin-group">
                    <label for="lastname">Last Name<span class="star">*</span></label>
                    <input type="text" id="lastname" name="_username"  class="form-control form-join" required>
                </div>
                 <div class="formjoin-group">
                    <label for="checkbox_male">Gender</label>            
                    <p class="formjoin-gender">
                    <input type="checkbox" name="checkbox" id="checkbox_male" value="value">
					<label for="checkbox_male">Male</label>
                    <input type="checkbox" name="checkbox" id="checkbox_female" value="value">
					<label for="checkbox_female">Female</label>
                    </p>
                </div>
                <div class="formjoin-group personal">
                    <label for="CountriesDropDownList2">Country<span class="star">*</span></label>
                     <select name="CountriesDropDownList" id="CountriesDropDownList2"  required>
                      <option value="Select">Please select</option>
                      <option value="Afghanistan">Afghanistan</option>
                   </select>
                </div>
                 <div class="formjoin-group">
                    <label for="address1">Address1<span class="star">*</span></label>
                    <input type="text" id="address1" name="_username"  class="form-control form-join"  required>
                </div>
                <div class="formjoin-group">
                    <label for="address2">Address2</label>
                    <input type="text" id="address2" name="_username"  class="form-control form-join">
                </div>
                <div class="formjoin-group mb40">
                    <label for="zipcode">Zip code<span class="star">*</span></label>
                    <input type="text" id="zipcode" name="_username"  class="form-control form-zipcode"  required>
                    <span class="ziptxt">Please enter hyphen marks where necessary</span>
                </div>
                <div class="formjoin-group mobile">
                    <label for="mobile"><span>Mobile </span><span>Phone Number</span><span class="star">*</span></label>
                    <input type="text" id="mobile" name="_username"  class="form-control form-join"  required>
                </div>
                 <div class="formjoin-group">
                    <label for="email">E-mail<span class="star">*</span></label>
                    <input type="text" id="email" name="_username"  class="form-control form-join"  required>
                </div>
                 <div class="formjoin-group newsletter  mb80">
                    <label for="newsletter"><span>Request for </span><span>Newsletter</span><span class="star">*</span></label>
                   <p class="formjoin-newsletter">
                    <input type="checkbox" name="checkbox" id="checkbox_want" value="value"  required>
					<label for="checkbox_want" class="s1">Want to receive</label>
                    <input type="checkbox" name="checkbox" id="checkbox_nowant" value="value" required>
					<label for="checkbox_nowant"  class="s2">Do Not Want to receive</label>
                    </p>                    
                </div>                       
                
                 <div class="formjoin-group">
                    <div id="join-btn" title="joinus" type="submit" class="btn btn-account btn-block gray-btn " >
                    <a href="#"><span>Verify Your Account </span></a></div>
                </div>       
             </form>
              </div>
              
              <!--//region-->
              
              
            </div>
            </div>	
        </div>
        </div>
		</div>
		</div>
		<div id="footer">
			<div class="footer_inner">
				<div class="left_footer_box">
					<ul class="social_nav">
						<li>
							<a href="#">
								<img src="/../images/fk_ico.png" alt="FACE BOOK">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/../images/it_ico.png" alt="INSTAGRAM">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/../images/tw_ico.png" alt="TWITTER">
							</a>
						</li>
					</ul>
				</div>
				<div class="cetner_desc_box">
					<p>&copy; 2017 INVENTORY All right Reserved</p>
				</div>
				<div class="right_footer_box">
					<ul class="footer_nav">
						<li>
							<a href="#">TERMS &amp; CONDITIONS</a>
						</li>
						<li>
							<a href="#">PRIVACY POLICY</a>
						</li>
						<li>
							<a href="#">CONTACT</a>
						</li>
					</ul>
				</div>
			</div>
			<span class="shadow"></span>
		</div>
	</div>
	<div class="black_shadow"></div>
</body>
</html>