<? include "../head.html" ?>	

<div  class="mypage_container_cover shoppinginfo">   
    <div class="mypage_content_wrapper">
          <div class="mypage_container_cover">         
        
            <div class="mypage_container shipform-wrapper">
               <h1>Shipping Information</h1>              
               
               <form action="" method="post" class="form">
                <div class="form-group">
                    <label for="username">name</label>
                    <input type="text" id="name" name="_username" placeholder="Name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="username">address1</label>
                    <input type="text" id="address1" name="_username" placeholder="Address1" class="form-control">
                </div>
                <div class="form-group">
                    <label for="username">address2</label>
                    <input type="text" id="address2" name="_username" placeholder="Address2" class="form-control">
                </div>
                <div class="city-state">
                    <div class="form-labels">
                    <input type="text" placeholder="City" class="" name="city" value="">
                    </div>
                    <div class="form-labels">
                    <input type="text" placeholder="State" class="" name="state" value="">
                    </div>
                </div>
                <div class="country-zip">
                  <div class="select-container">
                    <select class="" name="country" >
                    <option selected="" value="" >Country</option>
                    <option value="US" >United States</option>
                    <option value="AU" >Australia</option>
                    <option value="AF" >Afghanistan</option>
                    </select>
                  </div>
                <div class="form-field" >
                  <input type="text" placeholder="Zip" class="" name="zipcode" value="">
                </div>
                </div>
                <div class="form-group">
                    <div id="join-btn" title="joinus" type="submit" class="btn btn-join btn-info" >
                    <a href="#"><span>Buy it now</span></a></div>
                </div> 
             </form>
                <div class="form-group-txt">
               All payments are processed securely by PayPal and covered by PayPal & Inventory Protection. 
                If you do not have a PayPal accout, you can check out as a guest using your debit/credit card.
                </div>
             
             
               </div>
              
            </div>
        </div>
</div>	
		       
		<div id="footer">
			<div class="footer_inner">
				<div class="left_footer_box">
					<ul class="social_nav">
						<li>
							<a href="#">
								<img src="/../images/fk_ico.png" alt="FACE BOOK">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/../images/it_ico.png" alt="INSTAGRAM">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="/../images/tw_ico.png" alt="TWITTER">
							</a>
						</li>
					</ul>
				</div>
				<div class="cetner_desc_box">
					<p>&copy; 2017 INVENTORY All right Reserved</p>
				</div>
				<div class="right_footer_box">
					<ul class="footer_nav">
						<li>
							<a href="#">TERMS &amp; CONDITIONS</a>
						</li>
						<li>
							<a href="#">PRIVACY POLICY</a>
						</li>
						<li>
							<a href="#">CONTACT</a>
						</li>
					</ul>
				</div>
			</div>
			<span class="shadow"></span>
		</div>
	</div>
	<div class="black_shadow"></div>
</body>
</html>